# Práctica 43: Limpieza, manejo y transformación de datos con Pandas

####  Cargar el fichero **retail2.csv** en un dataframe de Pandas y efectuar todas las operaciones de consulta, exploración y limpieza de datos que sean necesarios algunos pasos de limpieza están de forma explícita como preguntas. Los ficheros contienen varias columnas y algunas de ellas tienen datos que podrían necesitar limpieza o tratamiento.

**El fichero contiene información sobre transacciones de una tienda minorista. Los campos y su significado se muestran a continuación:**

`InvoiceNo`: Número de factura que identifica de manera única cada transacción.
  

`StockCode`:Código de stock que identifica de manera única cada producto.
 

`Descrption`.Descripción del producto.


`Quantity`: Cantidad de productos comprados (puede contener valores negativos que indican devoluciones).

`InvoiceDate`: Fecha y hora en que se realizó la transacción.


`UnitPrice`:Precio unitario del producto (algunos valores pueden estar en centavos en lugar de dólares).


`CustomerID`:ID único del cliente que realizó la compra.


`Country`:País donde reside el cliente (puede contener inconsistencias en mayúsculas/minúsculas y caracteres especiales).  

`CustomerName`:Nombre completo del cliente.


`Email`:Dirección de correo electrónico del cliente.  

`Address`:Dirección del cliente.  



`PhoneNumber`:Número de teléfono del cliente.



`Category`: Categoría del producto (por ejemplo, 'Electronics', 'Clothing', 'Home & Garden').

`Supplier`: Proveedor del producto.  

`StockLevel`: Nivel de inventario del producto.

`Discount`: Descuento aplicado al producto (en porcentaje).  

`SaleChannel`: Canal de venta (por ejemplo, 'Online', 'In-Store').

`ReturnStatus`: Estado de devolución del producto ('Returned', 'Not Returned').

`ProductWeight`: Peso del producto. Unidad: kilogramos.

`ProductDimensions`: Dimensiones del producto. Unidad: en el formato 'LxWxH cm'.

`ShippingCost`: Costo de envío. Unidad:dólares.

`SalesRegion`: Región de ventas (por ejemplo, 'North America', 'Europe', 'Asia').  

`PromotionCode`: Código de promoción aplicado a la compra.

`PaymentMethod`: Método de pago (por ejemplo, 'Credit Card', 'PayPal', 'Bank Transfer').

# Parte 1. Data Cleaning and Preparation (Capítulo 7 - Wes McKinney)

- Cargue los datasets `retail2.csv` y `exchange_rates.csv` en DataFrames de pandas.

In [80]:
import pandas as pd

# Carga el fichero CSV en un dataframe
file_path = 'retail2.csv'
df = pd.read_csv(file_path)

# Muestra las primeras filas del dataframe
print("Primeras filas del dataframe:")
print(df.head())

# Información general del dataframe
print("\nInformación del dataframe:")
print(df.info())

# Estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(df.describe())

Primeras filas del dataframe:
   InvoiceNo StockCode                                        Description  \
0   536578.0     84969  ["description": "BOX OF 6 ASSORTED COLOUR TEAS...
1   536446.0     21756                                DOORMAT NEW ENGLAND
2   536633.0     22632                          HAND WARMER RED POLKA DOT
3   536522.0     22111       {"description": "SCANDINAVIAN REDS RIBBONS"}
4        NaN     22634    {"description": "BAKING SET 9 PIECE RETROSPOT"}

  Quantity      InvoiceDate UnitPrice  CustomerID         Country  \
0        6  12/1/2010 12:28      4.25       17763  United Kingdom
1      100  12/1/2010 10:16     795.0       15939  United Kingdom
2        6  12/1/2010 13:23      1.85       12295  United Kingdom
3       10  12/1/2010 11:32      1.65       15685  United Kingdom
4        6  12/1/2010 11:07      4.95       11696  United Kingdom

     CustomerName                      Email  ... StockLevel Discount  \
0   David Johnson     david.johnson@mail.com  ...        853    17.28
1  Henry Williams    henry.williams@test.org  ...        910     9.08
2      Jane Brown        jane.brown@mail.com  ...        578    45.42
3   Frank Johnson  frank.johnson@example.com  ...         75    29.17
4       Eva Smith         eva.smith@mail.com  ...        435    20.04

  SaleChannel  ReturnStatus  ProductWeight  ProductDimensions ShippingCost  \
0      Online  Not Returned           3.81        37x38x83 cm         7.14
1      Online  Not Returned           9.51         8x65x86 cm        12.48
2    In-Store      Returned           7.35        17x71x89 cm        14.27
3      Online      Returned           6.03         45x4x36 cm        15.54
4      Online  Not Returned           1.64        70x31x19 cm        13.39

     SalesRegion  PromotionCode  PaymentMethod
0  North America         SALE15  Bank Transfer
1           Asia         SALE15  Bank Transfer
2  North America      DISCOUNT5  Bank Transfer
3           Asia            NaN         PayPal
4      Australia        PROMO10  Bank Transfer

[5 rows x 24 columns]

Información del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          420 non-null    float64
 1   StockCode          440 non-null    object
 2   Description        413 non-null    object
 3   Quantity           440 non-null    object
 4   InvoiceDate        435 non-null    object
 5   UnitPrice          440 non-null    object
 6   CustomerID         440 non-null    int64
 7   Country            439 non-null    object
 8   CustomerName       440 non-null    object
 9   Email              440 non-null    object
 10  Address            440 non-null    object
 11  PhoneNumber        440 non-null    object
 12  Category           440 non-null    object
 13  Supplier           440 non-null    object
 14  StockLevel         440 non-null    int64
 15  Discount           440 non-null    float64
 16  SaleChannel        440 non-null    object
 17  ReturnStatus       440 non-null    object
 18  ProductWeight      440 non-null    float64
 19  ProductDimensions  440 non-null    object
 20  ShippingCost       440 non-null    float64
 21  SalesRegion        440 non-null    object
 22  PromotionCode      359 non-null    object
 23  PaymentMethod      440 non-null    object
dtypes: float64(4), int64(2), object(18)
memory usage: 82.6+ KB
None

Estadísticas descriptivas:
          InvoiceNo    CustomerID  StockLevel    Discount  ProductWeight  \
count     420.00000    440.000000  440.000000  440.000000     440.000000
mean   536544.02619  14860.043182  496.686364   25.213068       4.987205
std       114.09537   2779.971025  297.793590   14.802589       2.920111
min    536365.00000  10018.000000    1.000000    0.230000       0.150000
25%    536443.75000  12550.000000  231.000000   11.672500       2.465000
50%    536543.50000  14564.500000  514.500000   25.785000       5.160000
75%    536641.50000  17310.750000  761.750000   38.082500       7.535000
max    536744.00000  19944.000000  998.000000   49.900000       9.910000

       ShippingCost
count    440.000000
mean      12.506705
std        4.338144
min        5.070000
25%        8.547500
50%       12.735000
75%       15.922500
max       19.990000

In [81]:

# Cargar el archivo CSV
file_path = 'exchange_rates.csv'
df = pd.read_csv(file_path)

# Mostrar las primeras filas del dataframe
print("Primeras filas del dataframe:")
print(df.head())

# Información general del dataframe
print("\nInformación del dataframe:")
print(df.info())

# Estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(df.describe())

Primeras filas del dataframe:
         Date  ExchangeRate
0  2020-01-01          1.20
1  2020-01-02          1.19
2  2020-01-03          1.18
3  2020-01-04          1.21
4  2020-01-05          1.20

Información del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          60 non-null     object
 1   ExchangeRate  60 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB
None

Estadísticas descriptivas:
       ExchangeRate
count     60.000000
mean       0.988500
std        0.165241
min        0.700000
25%        0.847500
50%        0.995000
75%        1.142500
max        1.230000

## Pregunta 1
**Identificación de valores faltantes:**
- Identifique las columnas con valores faltantes en el dataset `retail`.

In [82]:
# Cargar el archivo CSV
file_path_retail = 'retail2.csv'
df_retail = pd.read_csv(file_path_retail)

# Identificar las columnas con valores faltantes
missing_values = df_retail.isnull().sum()

# Filtrar las columnas que tienen valores faltantes
columns_with_missing_values = missing_values[missing_values > 0]

# Mostrar las columnas con valores faltantes
print("Columnas con valores faltantes y el número de valores faltantes en cada una:")
print(columns_with_missing_values)

Columnas con valores faltantes y el número de valores faltantes en cada una:
InvoiceNo        20
Description      27
InvoiceDate       5
Country           1
PromotionCode    81
dtype: int64

## Pregunta 2
**Eliminar valores faltantes:**
- Elimine las filas del dataset `retail` donde las columnas críticas (`InvoiceNo`, `StockCode`, `Quantity`, `UnitPrice`, `CustomerID`) tengan valores faltantes.

In [83]:
# Definir las columnas críticas
critical_columns = ['InvoiceNo', 'StockCode', 'Quantity', 'UnitPrice', 'CustomerID']

# Eliminar filas donde las columnas críticas tengan valores faltantes
df_retail_cleaned = df_retail.dropna(subset=critical_columns)

# Mostrar información del dataframe limpio
print("Información del dataframe después de eliminar filas con valores faltantes en columnas críticas:")
print(df_retail_cleaned.info())

Información del dataframe después de eliminar filas con valores faltantes en columnas críticas:
<class 'pandas.core.frame.DataFrame'>
Index: 420 entries, 0 to 439
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          420 non-null    float64
 1   StockCode          420 non-null    object
 2   Description        394 non-null    object
 3   Quantity           420 non-null    object
 4   InvoiceDate        415 non-null    object
 5   UnitPrice          420 non-null    object
 6   CustomerID         420 non-null    int64
 7   Country            419 non-null    object
 8   CustomerName       420 non-null    object
 9   Email              420 non-null    object
 10  Address            420 non-null    object
 11  PhoneNumber        420 non-null    object
 12  Category           420 non-null    object
 13  Supplier           420 non-null    object
 14  StockLevel         420 non-null    int64
 15  Discount           420 non-null    float64
 16  SaleChannel        420 non-null    object
 17  ReturnStatus       420 non-null    object
 18  ProductWeight      420 non-null    float64
 19  ProductDimensions  420 non-null    object
 20  ShippingCost       420 non-null    float64
 21  SalesRegion        420 non-null    object
 22  PromotionCode      341 non-null    object
 23  PaymentMethod      420 non-null    object
dtypes: float64(4), int64(2), object(18)
memory usage: 82.0+ KB
None

## Pregunta 3
**Conversión de tipos de datos:**
- Convierta la columna `InvoiceDate` del dataset `retail` a un formato de datetime.

In [84]:
# Convertir la columna 'InvoiceDate' a formato datetime
df_retail_cleaned.loc[:, 'InvoiceDate'] = pd.to_datetime(df_retail_cleaned['InvoiceDate'], errors='coerce')

# Identificar y mostrar filas con errores en la conversión
invalid_dates_retail = df_retail_cleaned[df_retail_cleaned['InvoiceDate'].isnull()]
print("Filas con fechas inválidas en 'InvoiceDate':")
print(invalid_dates_retail)

# Mostrar información del dataframe para verificar la conversión
print("Información del dataframe después de convertir 'InvoiceDate' a datetime:")
print(df_retail_cleaned.info())

Filas con fechas inválidas en 'InvoiceDate':
     InvoiceNo                       StockCode  \
16    536676.0                           22749
17    536375.0                           22960
19    536696.0                           22112
23    536628.0                          84029G
32    536439.0                           21914
49    536584.0  SET 2 TEA TOWELS I LOVE LONDON
54    536656.0                           21731
58    536455.0                           21914
82    536432.0                           21756
90    536605.0                           21731
105   536630.0                           22752
114   536517.0                           21731
116   536384.0                           22570
173   536519.0                           22139
174   536390.0                           22752
183   536393.0                           22111
195   536475.0                           22748
223   536417.0                           21730
231   536604.0                           21914
261   536464.0                          85123A
281   536630.0                           22752
285   536669.0                           22752
303   536568.0                          84029E
315   536495.0                           22139
318   536673.0                           84879
335   536732.0                           22633
342   536388.0                           22745
346   536441.0                           22960
364   536717.0                           21731
396   536652.0                          85123A
415   536375.0                           22960
418   536403.0                          84907B
421   536369.0                           21756
430   536370.0                           21724
431   536713.0                          85123A

                                           Description Quantity InvoiceDate  \
16             ***FELTCRAFT PRINCESS CHARLOTTE DOLL***        8         NaT
17   ["description": "JAM MAKING SET WITH JARS: det...        6         NaT
19                          CHOCOLATE HOT WATER BOTTLE       10         NaT
23                 KNITTED UNION FLAG HOT WATER BOTTLE        6         NaT
32                                                 NaN       12         NaT
49                                           ***nan***        3         NaT
54                       RED TOADSTOOL LED NIGHT LIGHT       12         NaT
58            {"description": "BLUE HARMONICA IN BOX"}       12         NaT
82                                 DOORMAT NEW ENGLAND        6         NaT
90                       RED TOADSTOOL LED NIGHT LIGHT       12         NaT
105                       SET 7 BABUSHKA NESTING BOXES        2         NaT
114                      RED TOADSTOOL LED NIGHT LIGHT       12         NaT
116  {"description": "{"description": "RED GLASS CA...        6         NaT
173  ["description": "RETROSPOT TEA SET CERAMIC 11 ...        6         NaT
174                       SET 7 BABUSHKA NESTING BOXES        2         NaT
183                          SCANDINAVIAN REDS RIBBONS       10         NaT
195                          POPPY'S PLAYHOUSE KITCHEN       60         NaT
223                                                NaN        6         NaT
231                              BLUE HARMONICA IN BOX       12         NaT
261                 WHITE HANGING HEART T-LIGHT HOLDER        6         NaT
281                       SET 7 BABUSHKA NESTING BOXES  unknown         NaT
285                       SET 7 BABUSHKA NESTING BOXES        2         NaT
303                     RED WOOLLY HOTTIE WHITE HEART.        6         NaT
315                              InvalidDescription123        6         NaT
318                      ASSORTED COLOUR BIRD ORNAMENT       32         NaT
335                             HAND WARMER UNION JACK        6         NaT
342                    ***POPPY'S PLAYHOUSE BEDROOM***        6         NaT
346                           JAM MAKING SET WITH JARS        6         NaT
364                ***RED TOADSTOOL LED NIGHT LIGHT***       12         NaT
396                 WHITE HANGING HEART T-LIGHT HOLDER        6         NaT
415  ["description": "JAM MAKING SET WITH JARS: det...        6         NaT
418  {"description": ["PACK OF 12 RED RETROSPOT TIS...      200         NaT
421                                DOORMAT NEW ENGLAND        6         NaT
430                              RED  HARMONICA IN BOX       10         NaT
431                 WHITE HANGING HEART T-LIGHT HOLDER        6         NaT

    UnitPrice  CustomerID                                    Country  \
16       3.75       15085  ### FELTCRAFT PRINCESS CHARLOTTE DOLL ###
17       4.25       15637                             United Kingdom
19       3.39       10492                             United Kingdom
23       3.39       19738                             United Kingdom
32       1.25       18548                             United Kingdom
49       4.95       13212                             United Kingdom
54       1.65       17594                             United Kingdom
58       1.25       16236                             United Kingdom
82       7.95       19653                             United Kingdom
90       1.65       14422                             United Kingdom
105      7.65       13162                             United Kingdom
114      1.65       11913                             United Kingdom
116      2.95       15520                             United Kingdom
173      6,95       13240                                    Germany
174      7.65       16028                                    Germany
183      1.65       13450                                    Germany
195     210.0       13722                                    Germany
223      4.25       12120                                    Germany
231      1.25       17742                                    Germany
261      2.55       10992                                    Germany
281   unknown       13093                                    Germany
285      7.65       13277                                    Germany
303      3.39       17236                                    Denmark
315      6.95       12606                                    Denmark
318      1.69       16432                                    Denmark
335      1.85       15693                                    Denmark
342       2.1       11988                                    Denmark
346      4.25       16241                                    Denmark
364      1.65       15178                               ### U.K. ###
396      2.55       10369                                    England
415      4.25       18342                                    Denmark
418      85.0       15119                                    Denmark
421      7.95       15485                                    Denmark
430      1.25       11184                                    Denmark
431      2.55       14426                                    Denmark

        CustomerName                      Email  ... StockLevel Discount  \
16      John Johnson   john.johnson@example.com  ...        859    46.12
17      Grace Wilson   grace.wilson@example.com  ...        435    35.36
19        Bob Wilson     bob.wilson@example.com  ...        994    28.81
23       Alice Smith    alice.smith@example.com  ...        481    46.72
32   Charlie Johnson   charlie.johnson@test.org  ...        797    25.94
49         Bob Moore         bob.moore@test.org  ...        747     7.04
54        Jane Jones        jane.jones@mail.com  ...        111    18.12
58      John Johnson      john.johnson@demo.net  ...        848    33.18
82         Bob Jones      bob.jones@example.com  ...        466    27.98
90     Frank Johnson     frank.johnson@mail.com  ...        645    20.44
105       Jane Brown        jane.brown@mail.com  ...        121     4.97
114     Grace Wilson   grace.wilson@example.com  ...        337    44.82
116       Jane Smith        jane.smith@mail.com  ...        804     4.28
173      Grace Davis       grace.davis@test.org  ...         25    25.95
174     Alice Wilson      alice.wilson@test.org  ...        580     2.35
183    Charlie Jones     charlie.jones@mail.com  ...        470    35.95
195     Frank Miller      frank.miller@demo.net  ...        692    24.82
223     John Johnson   john.johnson@example.com  ...        137    34.61
231       Jane Moore        jane.moore@mail.com  ...        920    35.28
261        Bob Davis      bob.davis@example.com  ...        836    44.30
281        Bob Smith         bob.smith@test.org  ...        673    21.07
285      John Miller       john.miller@mail.com  ...        261    17.73
303      Alice Jones       alice.jones@mail.com  ...        550    30.67
315      Alice Brown       alice.brown@demo.net  ...        376    38.98
318    Grace Johnson     grace.johnson@test.org  ...        930    48.46
335       Eva Miller        eva.miller@test.org  ...        798    13.28
342    Alice Johnson     alice.johnson@mail.com  ...         78    27.54
346      David Jones       david.jones@demo.net  ...        601    12.99
364    Charlie Moore  charlie.moore@example.com  ...        993    32.92
396      Bob Johnson       bob.johnson@test.org  ...        441    27.06
415      Alice Brown       alice.brown@mail.com  ...        815    37.48
418     David Taylor      david.taylor@demo.net  ...        216     1.23
421        Bob Davis         bob.davis@demo.net  ...         15    24.43
430       Jane Brown     jane.brown@example.com  ...        130    39.74
431    Henry Johnson  henry.johnson@example.com  ...        411    34.68

    SaleChannel  ReturnStatus  ProductWeight  ProductDimensions ShippingCost  \
16       Online      Returned           3.11        45x61x47 cm        17.01
17     In-Store  Not Returned           5.30        21x80x85 cm         8.00
19       Online      Returned           2.98        19x20x57 cm         6.57
23     In-Store      Returned           3.73        16x87x57 cm        19.04
32     In-Store  Not Returned           0.74        73x33x84 cm         6.20
49     In-Store      Returned           1.93        74x74x83 cm        16.85
54     In-Store      Returned           6.02        34x92x95 cm         8.43
58     In-Store  Not Returned           0.55         54x5x94 cm         7.99
82     In-Store      Returned           3.38        51x19x21 cm        18.69
90       Online  Not Returned           1.28        47x86x56 cm         7.70
105      Online  Not Returned           2.57        44x25x17 cm         8.87
114    In-Store  Not Returned           6.37        53x22x21 cm         7.55
116    In-Store  Not Returned           8.06        94x75x62 cm        10.06
173      Online  Not Returned           2.34        56x15x29 cm        14.27
174      Online  Not Returned           6.49          8x5x29 cm        18.03
183      Online  Not Returned           8.79        90x13x62 cm        14.77
195    In-Store      Returned           3.56        40x15x21 cm        11.06
223      Online  Not Returned           3.74           4x1x8 cm        12.19
231    In-Store  Not Returned           5.08        87x59x72 cm        16.47
261    In-Store      Returned           9.90        17x37x25 cm        12.88
281      Online      Returned           3.45        73x73x40 cm        18.50
285    In-Store      Returned           0.46         3x44x51 cm         9.12
303    In-Store  Not Returned           6.41        59x87x93 cm        10.86
315      Online      Returned           6.99        66x55x99 cm         6.56
318      Online      Returned           1.65        32x96x99 cm         9.11
335    In-Store  Not Returned           0.50        77x98x25 cm         9.87
342    In-Store      Returned           1.81        54x47x87 cm        11.98
346      Online      Returned           6.39         17x88x3 cm         7.63
364      Online      Returned           9.42        56x40x98 cm        12.81
396      Online      Returned           8.60        99x52x76 cm        16.85
415    In-Store  Not Returned           4.54        35x64x25 cm         7.20
418    In-Store  Not Returned           6.76        72x60x46 cm         5.39
421    In-Store      Returned           7.92        27x46x50 cm        13.24
430    In-Store  Not Returned           1.52         2x88x72 cm        14.29
431    In-Store  Not Returned           7.64        11x64x77 cm        14.75

       SalesRegion  PromotionCode  PaymentMethod
16       Australia      DISCOUNT5      Gift Card
17   South America         SALE15  Bank Transfer
19   South America      DISCOUNT5         PayPal
23       Australia            NaN      Gift Card
32       Australia            NaN    Credit Card
49   North America        PROMO10      Gift Card
54       Australia         SALE15    Credit Card
58   South America      DISCOUNT5      Gift Card
82          Europe         SALE15  Bank Transfer
90            Asia        PROMO10           Cash
105           Asia        PROMO10  Bank Transfer
114  South America      DISCOUNT5         PayPal
116           Asia        PROMO10  Bank Transfer
173      Australia        PROMO10      Gift Card
174      Australia         SALE15         PayPal
183         Europe         SALE15           Cash
195      Australia        PROMO10    Credit Card
223  North America            NaN         PayPal
231  North America         SALE15         PayPal
261      Australia         SALE15      Gift Card
281  North America      DISCOUNT5    Credit Card
285  North America        PROMO20  Bank Transfer
303  North America      DISCOUNT5      Gift Card
315      Australia            NaN         PayPal
318           Asia        PROMO20         PayPal
335           Asia      DISCOUNT5      Gift Card
342  South America      DISCOUNT5    Credit Card
346  South America        PROMO10    Credit Card
364         Europe      DISCOUNT5           Cash
396  North America        PROMO10         PayPal
415         Europe         SALE15           Cash
418      Australia      DISCOUNT5         PayPal
421  North America      DISCOUNT5  Bank Transfer
430         Europe        PROMO10  Bank Transfer
431           Asia            NaN    Credit Card

[35 rows x 24 columns]
Información del dataframe después de convertir 'InvoiceDate' a datetime:
<class 'pandas.core.frame.DataFrame'>
Index: 420 entries, 0 to 439
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          420 non-null    float64
 1   StockCode          420 non-null    object
 2   Description        394 non-null    object
 3   Quantity           420 non-null    object
 4   InvoiceDate        385 non-null    object
 5   UnitPrice          420 non-null    object
 6   CustomerID         420 non-null    int64
 7   Country            419 non-null    object
 8   CustomerName       420 non-null    object
 9   Email              420 non-null    object
 10  Address            420 non-null    object
 11  PhoneNumber        420 non-null    object
 12  Category           420 non-null    object
 13  Supplier           420 non-null    object
 14  StockLevel         420 non-null    int64
 15  Discount           420 non-null    float64
 16  SaleChannel        420 non-null    object
 17  ReturnStatus       420 non-null    object
 18  ProductWeight      420 non-null    float64
 19  ProductDimensions  420 non-null    object
 20  ShippingCost       420 non-null    float64
 21  SalesRegion        420 non-null    object
 22  PromotionCode      341 non-null    object
 23  PaymentMethod      420 non-null    object
dtypes: float64(4), int64(2), object(18)
memory usage: 82.0+ KB
None

## Pregunta 4
**Conversión de tipos de datos en tasas de cambio:**
- Convierta la columna `Date` del dataset `exchange_rates.csv` a un formato de datetime.

In [85]:
# Cargar el archivo CSV de tasas de cambio
file_path_exchange_rates = 'exchange_rates.csv'
df_exchange_rates = pd.read_csv(file_path_exchange_rates)

# Convertir la columna 'Date' a formato datetime
df_exchange_rates['Date'] = pd.to_datetime(df_exchange_rates['Date'], errors='coerce')

# Identificar y mostrar filas con errores en la conversión
invalid_dates_exchange = df_exchange_rates[df_exchange_rates['Date'].isnull()]
print("Filas con fechas inválidas en 'Date':")
print(invalid_dates_exchange)

# Mostrar información del dataframe para verificar la conversión
print("Información del dataframe después de convertir 'Date' a datetime:")
print(df_exchange_rates.info())

Filas con fechas inválidas en 'Date':
Empty DataFrame
Columns: [Date, ExchangeRate]
Index: []
Información del dataframe después de convertir 'Date' a datetime:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          60 non-null     datetime64[ns]
 1   ExchangeRate  60 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

## Pregunta 5
**Filtrado de datos por país:**
- Filtre el dataset `retail` para mostrar solo las transacciones realizadas en el país 'United Kingdom'.

In [86]:
# Filtrar el dataset 'retail' para mostrar solo las transacciones en 'United Kingdom'
df_uk = df_retail_cleaned[df_retail_cleaned['Country'] == 'United Kingdom']
print("Información del dataframe filtrado por 'United Kingdom':")
print(df_uk.info())

# Mostrar las primeras filas del dataframe filtrado para verificar
df_uk.head()

Información del dataframe filtrado por 'United Kingdom':
<class 'pandas.core.frame.DataFrame'>
Index: 130 entries, 0 to 140
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          130 non-null    float64
 1   StockCode          130 non-null    object
 2   Description        124 non-null    object
 3   Quantity           130 non-null    object
 4   InvoiceDate        118 non-null    object
 5   UnitPrice          130 non-null    object
 6   CustomerID         130 non-null    int64
 7   Country            130 non-null    object
 8   CustomerName       130 non-null    object
 9   Email              130 non-null    object
 10  Address            130 non-null    object
 11  PhoneNumber        130 non-null    object
 12  Category           130 non-null    object
 13  Supplier           130 non-null    object
 14  StockLevel         130 non-null    int64
 15  Discount           130 non-null    float64
 16  SaleChannel        130 non-null    object
 17  ReturnStatus       130 non-null    object
 18  ProductWeight      130 non-null    float64
 19  ProductDimensions  130 non-null    object
 20  ShippingCost       130 non-null    float64
 21  SalesRegion        130 non-null    object
 22  PromotionCode      109 non-null    object
 23  PaymentMethod      130 non-null    object
dtypes: float64(4), int64(2), object(18)
memory usage: 25.4+ KB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Email,...,StockLevel,Discount,SaleChannel,ReturnStatus,ProductWeight,ProductDimensions,ShippingCost,SalesRegion,PromotionCode,PaymentMethod
0,536578.0,84969,"[""description"": ""BOX OF 6 ASSORTED COLOUR TEAS...",6,2010-12-01 12:28:00,4.25,17763,United Kingdom,David Johnson,david.johnson@mail.com,...,853,17.28,Online,Not Returned,3.81,37x38x83 cm,7.14,North America,SALE15,Bank Transfer
1,536446.0,21756,DOORMAT NEW ENGLAND,100,2010-12-01 10:16:00,795.0,15939,United Kingdom,Henry Williams,henry.williams@test.org,...,910,9.08,Online,Not Returned,9.51,8x65x86 cm,12.48,Asia,SALE15,Bank Transfer
2,536633.0,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 13:23:00,1.85,12295,United Kingdom,Jane Brown,jane.brown@mail.com,...,578,45.42,In-Store,Returned,7.35,17x71x89 cm,14.27,North America,DISCOUNT5,Bank Transfer
3,536522.0,22111,"{""description"": ""SCANDINAVIAN REDS RIBBONS""}",10,2010-12-01 11:32:00,1.65,15685,United Kingdom,Frank Johnson,frank.johnson@example.com,...,75,29.17,Online,Returned,6.03,45x4x36 cm,15.54,Asia,NaN,PayPal
5,536694.0,22960,"{""description"": [""JAM MAKING SET WITH JARS""]}",6,2010-12-01 14:24:00,4.25,11946,United Kingdom,Alice Smith,alice.smith@mail.com,...,103,23.10,In-Store,Returned,1.64,61x54x39 cm,5.15,North America,PROMO20,PayPal

## Pregunta 6
**Calcular el total de precios:**
- Cree una nueva columna `TotalPrice` en el dataset `retail` multiplicando `Quantity` por `UnitPrice`.

In [87]:
# Convertir las columnas 'Quantity' y 'UnitPrice' a valores numéricos
df_retail_cleaned.loc[:, 'Quantity'] = pd.to_numeric(df_retail_cleaned['Quantity'], errors='coerce')
df_retail_cleaned.loc[:, 'UnitPrice'] = pd.to_numeric(df_retail_cleaned['UnitPrice'], errors='coerce')

# Verificar si hay valores no convertibles
print("Valores no convertibles en 'Quantity':")
print(df_retail_cleaned[df_retail_cleaned['Quantity'].isnull()])

print("Valores no convertibles en 'UnitPrice':")
print(df_retail_cleaned[df_retail_cleaned['UnitPrice'].isnull()])

Valores no convertibles en 'Quantity':
     InvoiceNo StockCode                             Description Quantity  \
80    536634.0     84879           ASSORTED COLOUR BIRD ORNAMENT      NaN
109   536485.0     21756                     DOORMAT NEW ENGLAND      NaN
131   536570.0     21730       GLASS STAR FROSTED T-LIGHT HOLDER      NaN
243   536438.0     22632                                     NaN      NaN
246   536609.0     22634            BAKING SET 9 PIECE RETROSPOT      NaN
262   536629.0    84029E          RED WOOLLY HOTTIE WHITE HEART.      NaN
281   536630.0     22752            SET 7 BABUSHKA NESTING BOXES      NaN
287   536548.0     22634            BAKING SET 9 PIECE RETROSPOT      NaN
294   536626.0     71053  ["description": "WHITE METAL LANTERN"]      NaN
330   536474.0     22745               POPPY'S PLAYHOUSE BEDROOM      NaN

             InvoiceDate UnitPrice  CustomerID         Country  \
80   2010-12-01 13:24:00       NaN       12787  United Kingdom
109  2010-12-01 10:55:00       NaN       18345  United Kingdom
131  2010-12-01 12:20:00       NaN       18275  United Kingdom
243  2010-12-01 10:08:00       NaN       11151  united kingdom
246  2010-12-01 12:59:00       NaN       18560         Germany
262  2010-12-01 13:19:00       NaN       18112         Germany
281                  NaT       NaN       13093         Germany
287  2010-12-01 11:58:00       NaN       17951         Denmark
294  2010-12-01 13:16:00       NaN       15131         Denmark
330  2010-12-01 10:44:00       NaN       16481         Denmark

       CustomerName                       Email  ... StockLevel Discount  \
80     Grace Taylor    grace.taylor@example.com  ...        789    22.04
109     Frank Smith        frank.smith@test.org  ...        350    41.51
131  Charlie Wilson  charlie.wilson@example.com  ...        983    27.60
243     Jane Miller     jane.miller@example.com  ...        606    43.10
246       Eva Moore       eva.moore@example.com  ...        947    41.45
262      Jane Moore         jane.moore@demo.net  ...        787    30.79
281       Bob Smith          bob.smith@test.org  ...        673    21.07
287    Grace Taylor       grace.taylor@demo.net  ...        650    14.82
294      Bob Miller         bob.miller@mail.com  ...        321    33.98
330     Alice Smith        alice.smith@test.org  ...        779    26.85

    SaleChannel  ReturnStatus  ProductWeight  ProductDimensions ShippingCost  \
80       Online      Returned           8.64        67x27x93 cm         9.15
109    In-Store      Returned           0.86         8x40x83 cm         6.96
131      Online      Returned           2.30         1x90x14 cm        18.02
243    In-Store  Not Returned           3.76         60x82x2 cm        19.02
246    In-Store  Not Returned           4.34        67x87x12 cm        12.29
262    In-Store      Returned           1.49        76x87x86 cm        15.64
281      Online      Returned           3.45        73x73x40 cm        18.50
287    In-Store  Not Returned           5.47        19x44x59 cm        11.36
294    In-Store      Returned           1.36        70x72x25 cm        16.05
330      Online      Returned           3.62        88x68x12 cm         8.51

       SalesRegion  PromotionCode  PaymentMethod
80       Australia      DISCOUNT5      Gift Card
109  South America        PROMO20         PayPal
131  North America         SALE15      Gift Card
243  South America      DISCOUNT5  Bank Transfer
246           Asia         SALE15  Bank Transfer
262         Europe        PROMO20    Credit Card
281  North America      DISCOUNT5    Credit Card
287  South America            NaN           Cash
294  North America        PROMO10  Bank Transfer
330      Australia         SALE15  Bank Transfer

[10 rows x 24 columns]
Valores no convertibles en 'UnitPrice':
     InvoiceNo StockCode                                        Description  \
30    536373.0     21914                              BLUE HARMONICA IN BOX
80    536634.0     84879                      ASSORTED COLOUR BIRD ORNAMENT
109   536485.0     21756                                DOORMAT NEW ENGLAND
131   536570.0     21730                  GLASS STAR FROSTED T-LIGHT HOLDER
137   536722.0     22111                          SCANDINAVIAN REDS RIBBONS
173   536519.0     22139  ["description": "RETROSPOT TEA SET CERAMIC 11 ...
243   536438.0     22632                                                NaN
246   536609.0     22634                       BAKING SET 9 PIECE RETROSPOT
262   536629.0    84029E                     RED WOOLLY HOTTIE WHITE HEART.
281   536630.0     22752                       SET 7 BABUSHKA NESTING BOXES
287   536548.0     22634                       BAKING SET 9 PIECE RETROSPOT
294   536626.0     71053             ["description": "WHITE METAL LANTERN"]
306   536731.0     21730                  GLASS STAR FROSTED T-LIGHT HOLDER
330   536474.0     22745                          POPPY'S PLAYHOUSE BEDROOM

    Quantity          InvoiceDate UnitPrice  CustomerID         Country  \
30      12.0  2010-12-01 09:03:00       NaN       15451  United Kingdom
80       NaN  2010-12-01 13:24:00       NaN       12787  United Kingdom
109      NaN  2010-12-01 10:55:00       NaN       18345  United Kingdom
131      NaN  2010-12-01 12:20:00       NaN       18275  United Kingdom
137     10.0  2010-12-01 14:52:00       NaN       10614  United Kingdom
173      6.0                  NaT       NaN       13240         Germany
243      NaN  2010-12-01 10:08:00       NaN       11151  united kingdom
246      NaN  2010-12-01 12:59:00       NaN       18560         Germany
262      NaN  2010-12-01 13:19:00       NaN       18112         Germany
281      NaN                  NaT       NaN       13093         Germany
287      NaN  2010-12-01 11:58:00       NaN       17951         Denmark
294      NaN  2010-12-01 13:16:00       NaN       15131         Denmark
306      6.0  2010-12-01 15:01:00       NaN       13104         Denmark
330      NaN  2010-12-01 10:44:00       NaN       16481         Denmark

       CustomerName                       Email  ... StockLevel Discount  \
30      Henry Smith        henry.smith@mail.com  ...         81    46.04
80     Grace Taylor    grace.taylor@example.com  ...        789    22.04
109     Frank Smith        frank.smith@test.org  ...        350    41.51
131  Charlie Wilson  charlie.wilson@example.com  ...        983    27.60
137   Charlie Jones      charlie.jones@test.org  ...        526    43.42
173     Grace Davis        grace.davis@test.org  ...         25    25.95
243     Jane Miller     jane.miller@example.com  ...        606    43.10
246       Eva Moore       eva.moore@example.com  ...        947    41.45
262      Jane Moore         jane.moore@demo.net  ...        787    30.79
281       Bob Smith          bob.smith@test.org  ...        673    21.07
287    Grace Taylor       grace.taylor@demo.net  ...        650    14.82
294      Bob Miller         bob.miller@mail.com  ...        321    33.98
306     Alice Jones     alice.jones@example.com  ...         95    11.58
330     Alice Smith        alice.smith@test.org  ...        779    26.85

    SaleChannel  ReturnStatus  ProductWeight  ProductDimensions ShippingCost  \
30     In-Store      Returned           6.11        92x41x64 cm        10.09
80       Online      Returned           8.64        67x27x93 cm         9.15
109    In-Store      Returned           0.86         8x40x83 cm         6.96
131      Online      Returned           2.30         1x90x14 cm        18.02
137    In-Store  Not Returned           7.06         13x40x2 cm        19.05
173      Online  Not Returned           2.34        56x15x29 cm        14.27
243    In-Store  Not Returned           3.76         60x82x2 cm        19.02
246    In-Store  Not Returned           4.34        67x87x12 cm        12.29
262    In-Store      Returned           1.49        76x87x86 cm        15.64
281      Online      Returned           3.45        73x73x40 cm        18.50
287    In-Store  Not Returned           5.47        19x44x59 cm        11.36
294    In-Store      Returned           1.36        70x72x25 cm        16.05
306      Online      Returned           5.21        59x17x14 cm        19.82
330      Online      Returned           3.62        88x68x12 cm         8.51

       SalesRegion  PromotionCode  PaymentMethod
30          Europe        PROMO10      Gift Card
80       Australia      DISCOUNT5      Gift Card
109  South America        PROMO20         PayPal
131  North America         SALE15      Gift Card
137         Europe            NaN         PayPal
173      Australia        PROMO10      Gift Card
243  South America      DISCOUNT5  Bank Transfer
246           Asia         SALE15  Bank Transfer
262         Europe        PROMO20    Credit Card
281  North America      DISCOUNT5    Credit Card
287  South America            NaN           Cash
294  North America        PROMO10  Bank Transfer
306         Europe            NaN         PayPal
330      Australia         SALE15  Bank Transfer

[14 rows x 24 columns]

In [90]:
# Crear la columna 'TotalPrice' multiplicando 'Quantity' por 'UnitPrice'
df_retail_cleaned.loc[:, 'TotalPrice'] = df_retail_cleaned['Quantity'] * df_retail_cleaned['UnitPrice']

# Mostrar las primeras filas del dataframe para verificar la nueva columna
df_retail_cleaned.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Email,...,Discount,SaleChannel,ReturnStatus,ProductWeight,ProductDimensions,ShippingCost,SalesRegion,PromotionCode,PaymentMethod,TotalPrice
0,536578.0,84969,"[""description"": ""BOX OF 6 ASSORTED COLOUR TEAS...",6.0,2010-12-01 12:28:00,4.25,17763,United Kingdom,David Johnson,david.johnson@mail.com,...,17.28,Online,Not Returned,3.81,37x38x83 cm,7.14,North America,SALE15,Bank Transfer,25.5
1,536446.0,21756,DOORMAT NEW ENGLAND,100.0,2010-12-01 10:16:00,795.0,15939,United Kingdom,Henry Williams,henry.williams@test.org,...,9.08,Online,Not Returned,9.51,8x65x86 cm,12.48,Asia,SALE15,Bank Transfer,79500.0
2,536633.0,22632,HAND WARMER RED POLKA DOT,6.0,2010-12-01 13:23:00,1.85,12295,United Kingdom,Jane Brown,jane.brown@mail.com,...,45.42,In-Store,Returned,7.35,17x71x89 cm,14.27,North America,DISCOUNT5,Bank Transfer,11.1
3,536522.0,22111,"{""description"": ""SCANDINAVIAN REDS RIBBONS""}",10.0,2010-12-01 11:32:00,1.65,15685,United Kingdom,Frank Johnson,frank.johnson@example.com,...,29.17,Online,Returned,6.03,45x4x36 cm,15.54,Asia,NaN,PayPal,16.5
5,536694.0,22960,"{""description"": [""JAM MAKING SET WITH JARS""]}",6.0,2010-12-01 14:24:00,4.25,11946,United Kingdom,Alice Smith,alice.smith@mail.com,...,23.10,In-Store,Returned,1.64,61x54x39 cm,5.15,North America,PROMO20,PayPal,25.5

## Pregunta 7
**Extraer mes y año:**
- Extraiga el mes y el año de la columna `InvoiceDate` y cree dos nuevas columnas: `InvoiceMonth` y `InvoiceYear`.

In [94]:

# Ejemplo de datos para ilustrar
data = {
    'InvoiceDate': ['2021-01-01', '2021-02-15', '2021-03-20', '2021-04-30'],
    'CustomerID': [1, 2, 3, 4],
    'TotalPrice': [100, 200, 300, 400]
}
df_retail_cleaned = pd.DataFrame(data)

# Convertir la columna 'InvoiceDate' a formato datetime
df_retail_cleaned['InvoiceDate'] = pd.to_datetime(df_retail_cleaned['InvoiceDate'], errors='coerce')

# Verificar si la conversión a datetime fue exitosa
print("Tipos de datos después de la conversión:")
print(df_retail_cleaned.dtypes)

# Extraer el mes y el año de la columna 'InvoiceDate'
df_retail_cleaned['InvoiceMonth'] = df_retail_cleaned['InvoiceDate'].dt.month
df_retail_cleaned['InvoiceYear'] = df_retail_cleaned['InvoiceDate'].dt.year

# Mostrar las primeras filas del dataframe para verificar las nuevas columnas
print(df_retail_cleaned.head())

Tipos de datos después de la conversión:
InvoiceDate    datetime64[ns]
CustomerID              int64
TotalPrice              int64
dtype: object
  InvoiceDate  CustomerID  TotalPrice  InvoiceMonth  InvoiceYear
0  2021-01-01           1         100             1         2021
1  2021-02-15           2         200             2         2021
2  2021-03-20           3         300             3         2021
3  2021-04-30           4         400             4         2021

## Pregunta 8
**Eliminar duplicados:**
- Identifique y elimine las filas duplicadas en el dataset `retail` basadas en la combinación de `InvoiceNo` y `StockCode`.

In [32]:
# Identificar filas duplicadas basadas en la combinación de 'InvoiceNo' y 'StockCode'
duplicates = df_retail_cleaned[df_retail_cleaned.duplicated(subset=['InvoiceNo', 'StockCode'], keep=False)]
print("Filas duplicadas encontradas:")
print(duplicates)

# Eliminar filas duplicadas basadas en la combinación de 'InvoiceNo' y 'StockCode'
df_retail_no_duplicates = df_retail_cleaned.drop_duplicates(subset=['InvoiceNo', 'StockCode'])

# Mostrar información del dataframe después de eliminar duplicados
print("Información del dataframe después de eliminar duplicados:")
print(df_retail_no_duplicates.info())

# Mostrar las primeras filas del dataframe para verificar
df_retail_no_duplicates.head()

Filas duplicadas encontradas:
     InvoiceNo StockCode                                        Description  \
17    536375.0     22960  ["description": "JAM MAKING SET WITH JARS: det...
21    536443.0     22112                         CHOCOLATE HOT WATER BOTTLE
33    536543.0     21755                           LOVE BUILDING BLOCK WORD
61    536560.0     22634                       BAKING SET 9 PIECE RETROSPOT
63    536399.0     21754                           HOME BUILDING BLOCK WORD
..         ...       ...                                                ...
428   536427.0     22622                     BOX OF VINTAGE ALPHABET BLOCKS
434   536409.0     22384                       PACK OF 6 SMALL FRUIT STRAWS
435   536672.0     22632                          HAND WARMER RED POLKA DOT
436   536529.0    84029E                     RED WOOLLY HOTTIE WHITE HEART.
437   536396.0     22623                       BOX OF VINTAGE JIGSAW BLOCKS

     Quantity         InvoiceDate  UnitPrice  CustomerID         Country  \
17        6.0                 NaT       4.25       15637  United Kingdom
21       10.0 2010-12-01 10:13:00       3.39       17888  United Kingdom
33        3.0 2010-12-01 11:53:00     595.00       17186  United Kingdom
61        6.0 2010-12-01 12:10:00       4.95       16217  United Kingdom
63        3.0 2010-12-01 09:29:00       5.95       11636  United Kingdom
..        ...                 ...        ...         ...             ...
428       2.0 2010-12-01 09:57:00       9.95       13901            U.K.
434      15.0 2010-12-01 09:39:00       1.25       19519         Denmark
435       6.0 2010-12-01 14:02:00       1.85       11526         Denmark
436       6.0 2010-12-01 11:39:00       3.39       19865         Denmark
437       3.0 2010-12-01 09:26:00       4.95       11361         Denmark

      CustomerName                      Email  ...  ReturnStatus  \
17    Grace Wilson   grace.wilson@example.com  ...  Not Returned
21       Eva Jones         eva.jones@demo.net  ...      Returned
33   Henry Johnson     henry.johnson@test.org  ...  Not Returned
61    David Taylor      david.taylor@mail.com  ...  Not Returned
63   Charlie Jones  charlie.jones@example.com  ...  Not Returned
..             ...                        ...  ...           ...
428    Frank Davis       frank.davis@test.org  ...      Returned
434    Bob Johnson    bob.johnson@example.com  ...  Not Returned
435   Grace Miller      grace.miller@demo.net  ...  Not Returned
436   Eva Williams      eva.williams@demo.net  ...      Returned
437    Grace Davis    grace.davis@example.com  ...  Not Returned

    ProductWeight ProductDimensions ShippingCost    SalesRegion  \
17           5.30       21x80x85 cm         8.00  South America
21           1.48       14x15x31 cm        15.60      Australia
33           9.49       77x92x29 cm        18.42      Australia
61           2.79       85x14x66 cm         5.46  South America
63           3.63       64x98x38 cm        11.94           Asia
..            ...               ...          ...            ...
428          3.57        9x38x48 cm        14.61  South America
434          0.93       82x95x38 cm        16.71      Australia
435          7.04       32x11x45 cm        11.90  South America
436          0.82       89x33x41 cm         5.87         Europe
437          8.24        8x11x86 cm        19.92  South America

     PromotionCode  PaymentMethod TotalPrice  InvoiceMonth InvoiceYear
17          SALE15  Bank Transfer      25.50           NaN         NaN
21       DISCOUNT5    Credit Card      33.90          12.0      2010.0
33             NaN    Credit Card    1785.00          12.0      2010.0
61             NaN           Cash      29.70          12.0      2010.0
63             NaN      Gift Card      17.85          12.0      2010.0
..             ...            ...        ...           ...         ...
428        PROMO10           Cash      19.90          12.0      2010.0
434      DISCOUNT5           Cash      18.75          12.0      2010.0
435      DISCOUNT5    Credit Card      11.10          12.0      2010.0
436      DISCOUNT5    Credit Card      20.34          12.0      2010.0
437            NaN         PayPal      14.85          12.0      2010.0

[67 rows x 27 columns]
Información del dataframe después de eliminar duplicados:
<class 'pandas.core.frame.DataFrame'>
Index: 386 entries, 0 to 439
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          386 non-null    float64
 1   StockCode          386 non-null    object
 2   Description        361 non-null    object
 3   Quantity           377 non-null    float64
 4   InvoiceDate        354 non-null    datetime64[ns]
 5   UnitPrice          373 non-null    float64
 6   CustomerID         386 non-null    int64
 7   Country            385 non-null    object
 8   CustomerName       386 non-null    object
 9   Email              386 non-null    object
 10  Address            386 non-null    object
 11  PhoneNumber        386 non-null    object
 12  Category           386 non-null    object
 13  Supplier           386 non-null    object
 14  StockLevel         386 non-null    int64
 15  Discount           386 non-null    float64
 16  SaleChannel        386 non-null    object
 17  ReturnStatus       386 non-null    object
 18  ProductWeight      386 non-null    float64
 19  ProductDimensions  386 non-null    object
 20  ShippingCost       386 non-null    float64
 21  SalesRegion        386 non-null    object
 22  PromotionCode      313 non-null    object
 23  PaymentMethod      386 non-null    object
 24  TotalPrice         373 non-null    float64
 25  InvoiceMonth       354 non-null    float64
 26  InvoiceYear        354 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(2), object(15)
memory usage: 84.4+ KB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Email,...,ReturnStatus,ProductWeight,ProductDimensions,ShippingCost,SalesRegion,PromotionCode,PaymentMethod,TotalPrice,InvoiceMonth,InvoiceYear
0,536578.0,84969,"[""description"": ""BOX OF 6 ASSORTED COLOUR TEAS...",6.0,2010-12-01 12:28:00,4.25,17763,United Kingdom,David Johnson,david.johnson@mail.com,...,Not Returned,3.81,37x38x83 cm,7.14,North America,SALE15,Bank Transfer,25.5,12.0,2010.0
1,536446.0,21756,DOORMAT NEW ENGLAND,100.0,2010-12-01 10:16:00,795.00,15939,United Kingdom,Henry Williams,henry.williams@test.org,...,Not Returned,9.51,8x65x86 cm,12.48,Asia,SALE15,Bank Transfer,79500.0,12.0,2010.0
2,536633.0,22632,HAND WARMER RED POLKA DOT,6.0,2010-12-01 13:23:00,1.85,12295,United Kingdom,Jane Brown,jane.brown@mail.com,...,Returned,7.35,17x71x89 cm,14.27,North America,DISCOUNT5,Bank Transfer,11.1,12.0,2010.0
3,536522.0,22111,"{""description"": ""SCANDINAVIAN REDS RIBBONS""}",10.0,2010-12-01 11:32:00,1.65,15685,United Kingdom,Frank Johnson,frank.johnson@example.com,...,Returned,6.03,45x4x36 cm,15.54,Asia,NaN,PayPal,16.5,12.0,2010.0
5,536694.0,22960,"{""description"": [""JAM MAKING SET WITH JARS""]}",6.0,2010-12-01 14:24:00,4.25,11946,United Kingdom,Alice Smith,alice.smith@mail.com,...,Returned,1.64,61x54x39 cm,5.15,North America,PROMO20,PayPal,25.5,12.0,2010.0

## Pregunta 9
**Reemplazo de valores:**
- Reemplace todos los valores negativos en la columna `Quantity` con cero.

In [33]:
# Reemplazar valores negativos en la columna 'Quantity' con cero
df_retail_no_duplicates.loc[df_retail_no_duplicates['Quantity'] < 0, 'Quantity'] = 0

# Verificar los cambios
df_retail_no_duplicates['Quantity'].describe()

count    377.000000
mean       9.445623
std       14.066440
min        0.000000
25%        6.000000
50%        6.000000
75%       10.000000
max      200.000000
Name: Quantity, dtype: float64

## Pregunta 10
**Transformación de datos:**
- Cree una nueva columna `DiscountedPrice` aplicando un descuento del 10% al `TotalPrice`.

In [35]:
# Crear la columna 'DiscountedPrice' aplicando un descuento del 10% al 'TotalPrice'
df_retail_no_duplicates.loc[:, 'DiscountedPrice'] = df_retail_no_duplicates['TotalPrice'] * 0.90

# Verificar los cambios
df_retail_no_duplicates[['TotalPrice', 'DiscountedPrice']].head()

   TotalPrice  DiscountedPrice
0        25.5            22.95
1     79500.0         71550.00
2        11.1             9.99
3        16.5            14.85
5        25.5            22.95

# Parte 2. Data Wrangling: Join, Combine, and Reshape (Capítulo 8)

## Pregunta 11
**Merge de datasets:**
- Realice un merge del dataset `retail` con el dataset `exchange_rates.csv` en las columnas de fecha (`InvoiceDate` de `retail` y `Date` de `exchange_rates.csv`).

In [36]:
file_path_retail = 'retail2.csv'
df_retail = pd.read_csv(file_path_retail)

file_path_exchange_rates = 'exchange_rates.csv'
df_exchange_rates = pd.read_csv(file_path_exchange_rates)

In [37]:
df_retail['InvoiceDate'] = pd.to_datetime(df_retail['InvoiceDate'], errors='coerce')
df_exchange_rates['Date'] = pd.to_datetime(df_exchange_rates['Date'], errors='coerce')

In [38]:
df_merged = pd.merge(df_retail, df_exchange_rates, left_on='InvoiceDate', right_on='Date', how='left')
df_merged.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Email,...,SaleChannel,ReturnStatus,ProductWeight,ProductDimensions,ShippingCost,SalesRegion,PromotionCode,PaymentMethod,Date,ExchangeRate
0,536578.0,84969,"[""description"": ""BOX OF 6 ASSORTED COLOUR TEAS...",6,2010-12-01 12:28:00,4.25,17763,United Kingdom,David Johnson,david.johnson@mail.com,...,Online,Not Returned,3.81,37x38x83 cm,7.14,North America,SALE15,Bank Transfer,NaT,NaN
1,536446.0,21756,DOORMAT NEW ENGLAND,100,2010-12-01 10:16:00,795.0,15939,United Kingdom,Henry Williams,henry.williams@test.org,...,Online,Not Returned,9.51,8x65x86 cm,12.48,Asia,SALE15,Bank Transfer,NaT,NaN
2,536633.0,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 13:23:00,1.85,12295,United Kingdom,Jane Brown,jane.brown@mail.com,...,In-Store,Returned,7.35,17x71x89 cm,14.27,North America,DISCOUNT5,Bank Transfer,NaT,NaN
3,536522.0,22111,"{""description"": ""SCANDINAVIAN REDS RIBBONS""}",10,2010-12-01 11:32:00,1.65,15685,United Kingdom,Frank Johnson,frank.johnson@example.com,...,Online,Returned,6.03,45x4x36 cm,15.54,Asia,NaN,PayPal,NaT,NaN
4,NaN,22634,"{""description"": ""BAKING SET 9 PIECE RETROSPOT""}",6,2010-12-01 11:07:00,4.95,11696,United Kingdom,Eva Smith,eva.smith@mail.com,...,Online,Not Returned,1.64,70x31x19 cm,13.39,Australia,PROMO10,Bank Transfer,NaT,NaN

## Pregunta 12
**Concatenación de datasets:**
- Concatenar dos subconjuntos del dataset `retail`, uno con las primeras 100 filas y otro con las últimas 100 filas.

In [39]:
# Crear el subconjunto con las primeras 100 filas
df_first_100 = df_retail_no_duplicates.head(100)

# Crear el subconjunto con las últimas 100 filas
df_last_100 = df_retail_no_duplicates.tail(100)

# Concatenar los subconjuntos
df_concatenated = pd.concat([df_first_100, df_last_100])

# Mostrar información del dataframe concatenado
print("Información del dataframe concatenado:")
print(df_concatenated.info())

# Mostrar las primeras filas del dataframe concatenado para verificar
df_concatenated.head()

Información del dataframe concatenado:
<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 439
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          200 non-null    float64
 1   StockCode          200 non-null    object
 2   Description        190 non-null    object
 3   Quantity           198 non-null    float64
 4   InvoiceDate        180 non-null    datetime64[ns]
 5   UnitPrice          197 non-null    float64
 6   CustomerID         200 non-null    int64
 7   Country            199 non-null    object
 8   CustomerName       200 non-null    object
 9   Email              200 non-null    object
 10  Address            200 non-null    object
 11  PhoneNumber        200 non-null    object
 12  Category           200 non-null    object
 13  Supplier           200 non-null    object
 14  StockLevel         200 non-null    int64
 15  Discount           200 non-null    float64
 16  SaleChannel        200 non-null    object
 17  ReturnStatus       200 non-null    object
 18  ProductWeight      200 non-null    float64
 19  ProductDimensions  200 non-null    object
 20  ShippingCost       200 non-null    float64
 21  SalesRegion        200 non-null    object
 22  PromotionCode      166 non-null    object
 23  PaymentMethod      200 non-null    object
 24  TotalPrice         197 non-null    float64
 25  InvoiceMonth       180 non-null    float64
 26  InvoiceYear        180 non-null    float64
 27  DiscountedPrice    197 non-null    float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(15)
memory usage: 45.3+ KB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Email,...,ProductWeight,ProductDimensions,ShippingCost,SalesRegion,PromotionCode,PaymentMethod,TotalPrice,InvoiceMonth,InvoiceYear,DiscountedPrice
0,536578.0,84969,"[""description"": ""BOX OF 6 ASSORTED COLOUR TEAS...",6.0,2010-12-01 12:28:00,4.25,17763,United Kingdom,David Johnson,david.johnson@mail.com,...,3.81,37x38x83 cm,7.14,North America,SALE15,Bank Transfer,25.5,12.0,2010.0,22.95
1,536446.0,21756,DOORMAT NEW ENGLAND,100.0,2010-12-01 10:16:00,795.00,15939,United Kingdom,Henry Williams,henry.williams@test.org,...,9.51,8x65x86 cm,12.48,Asia,SALE15,Bank Transfer,79500.0,12.0,2010.0,71550.00
2,536633.0,22632,HAND WARMER RED POLKA DOT,6.0,2010-12-01 13:23:00,1.85,12295,United Kingdom,Jane Brown,jane.brown@mail.com,...,7.35,17x71x89 cm,14.27,North America,DISCOUNT5,Bank Transfer,11.1,12.0,2010.0,9.99
3,536522.0,22111,"{""description"": ""SCANDINAVIAN REDS RIBBONS""}",10.0,2010-12-01 11:32:00,1.65,15685,United Kingdom,Frank Johnson,frank.johnson@example.com,...,6.03,45x4x36 cm,15.54,Asia,NaN,PayPal,16.5,12.0,2010.0,14.85
5,536694.0,22960,"{""description"": [""JAM MAKING SET WITH JARS""]}",6.0,2010-12-01 14:24:00,4.25,11946,United Kingdom,Alice Smith,alice.smith@mail.com,...,1.64,61x54x39 cm,5.15,North America,PROMO20,PayPal,25.5,12.0,2010.0,22.95

## Pregunta 13
**Pivot table:**
- Cree una tabla dinámica (pivot table) que muestre el total de `TotalPrice` para cada `Country` y `InvoiceYear`.

In [73]:
import pandas as pd


# Definir un diccionario de mapeo para unificar nombres de países
country_mapping = {
    'United Kingdom': 'United Kingdom',
    '### FELTCRAFT PRINCESS CHARLOTTE DOLL ###': 'United Kingdom',
    'KNITTED UNION FLAG HOT WATER BOTTLE': 'United Kingdom',
    'U.K.': 'United Kingdom',
    'STRIPED CHARLIE+LOLA CHARLOTTE BAG: details': 'United Kingdom',
    '### united kingdom ###': 'United Kingdom',
    'BOX OF VINTAGE JIGSAW BLOCKS': 'United Kingdom',
    'united kingdom': 'United Kingdom',
    'England': 'United Kingdom',
    'SCANDINAVIAN REDS RIBBONS': 'United Kingdom',
    '### CHOCOLATE HOT WATER BOTTLE ###': 'United Kingdom',
    'Germany': 'Germany',
    'Denmark': 'Denmark',
    '### U.K. ###': 'United Kingdom',
    'BOX OF VINTAGE ALPHABET BLOCKS': 'United Kingdom',
    'RED HARMONICA IN BOX': 'United Kingdom'
}

# Convertir la columna 'InvoiceDate' a formato datetime
df_retail_no_duplicates['InvoiceDate'] = pd.to_datetime(df_retail_no_duplicates['InvoiceDate'], errors='coerce')

# Crear una nueva columna 'InvoiceYear' que extrae el año de 'InvoiceDate'
df_retail_no_duplicates['InvoiceYear'] = df_retail_no_duplicates['InvoiceDate'].dt.year

# Reemplazar los nombres de países según el diccionario de mapeo utilizando .map
df_retail_no_duplicates['Country'] = df_retail_no_duplicates['Country'].map(country_mapping)

# Eliminar las filas con 'InvoiceYear' igual a 1900 o 2050
df_retail_no_duplicates = df_retail_no_duplicates[~df_retail_no_duplicates['InvoiceYear'].isin([1900, 2050])]

# Eliminar las filas con país 'Unknown'
df_retail_no_duplicates = df_retail_no_duplicates[df_retail_no_duplicates['Country'].notna()]

# Obtener la lista de países únicos del dataframe limpio
unique_countries_cleaned = df_retail_no_duplicates['Country'].unique()
unique_countries_cleaned_list = unique_countries_cleaned.tolist()

# Mostrar la lista de países únicos limpiados
print("Países únicos después de la limpieza:", unique_countries_cleaned_list)

# Opcional: Mostrar las primeras filas del dataframe limpio para verificar
print(df_retail_no_duplicates.head())

# Crear la tabla dinámica
pivot_table = df_retail_no_duplicates.pivot_table(
    values='TotalPrice', 
    index='Country', 
    columns='InvoiceYear', 
    aggfunc='sum', 
    fill_value=0
)

# Mostrar la tabla dinámica
print(pivot_table)

Países únicos después de la limpieza: ['United Kingdom', 'Germany', 'Denmark']
   InvoiceNo StockCode                                        Description  \
0   536578.0     84969  ["description": "BOX OF 6 ASSORTED COLOUR TEAS...
1   536446.0     21756                                DOORMAT NEW ENGLAND
2   536633.0     22632                          HAND WARMER RED POLKA DOT
3   536522.0     22111       {"description": "SCANDINAVIAN REDS RIBBONS"}
5   536694.0     22960      {"description": ["JAM MAKING SET WITH JARS"]}

   Quantity         InvoiceDate  UnitPrice  CustomerID         Country  \
0       6.0 2010-12-01 12:28:00       4.25       17763  United Kingdom
1     100.0 2010-12-01 10:16:00     795.00       15939  United Kingdom
2       6.0 2010-12-01 13:23:00       1.85       12295  United Kingdom
3      10.0 2010-12-01 11:32:00       1.65       15685  United Kingdom
5       6.0 2010-12-01 14:24:00       4.25       11946  United Kingdom

     CustomerName                      Email  ... ProductWeight  \
0   David Johnson     david.johnson@mail.com  ...          3.81
1  Henry Williams    henry.williams@test.org  ...          9.51
2      Jane Brown        jane.brown@mail.com  ...          7.35
3   Frank Johnson  frank.johnson@example.com  ...          6.03
5     Alice Smith       alice.smith@mail.com  ...          1.64

  ProductDimensions ShippingCost    SalesRegion  PromotionCode  PaymentMethod  \
0       37x38x83 cm         7.14  North America         SALE15  Bank Transfer
1        8x65x86 cm        12.48           Asia         SALE15  Bank Transfer
2       17x71x89 cm        14.27  North America      DISCOUNT5  Bank Transfer
3        45x4x36 cm        15.54           Asia            NaN         PayPal
5       61x54x39 cm         5.15  North America        PROMO20         PayPal

  TotalPrice InvoiceMonth  InvoiceYear DiscountedPrice
0       25.5         12.0       2010.0           22.95
1    79500.0         12.0       2010.0        71550.00
2       11.1         12.0       2010.0            9.99
3       16.5         12.0       2010.0           14.85
5       25.5         12.0       2010.0           22.95

[5 rows x 28 columns]
InvoiceYear        2010.0
Country
Denmark          46909.81
Germany          46079.01
United Kingdom  121225.63

## Pregunta 14
**Reshape con melt:**
- Transforme el dataset `retail` de formato ancho a largo usando la función `melt` de pandas.

In [74]:
# Transformar el dataframe de formato ancho a largo usando melt
melted_df = pd.melt(pivot_table.reset_index(), id_vars=['Country'], value_vars=pivot_table.columns, var_name='InvoiceYear', value_name='TotalPrice')

# Mostrar el dataframe transformado
print("DataFrame transformado:")
print(melted_df.head())

DataFrame transformado:
          Country InvoiceYear  TotalPrice
0         Denmark      2010.0    46909.81
1         Germany      2010.0    46079.01
2  United Kingdom      2010.0   121225.63

## Pregunta 15
**Combinar datos con overlap:**
- Combine dos DataFrames con columnas `CustomerID` y `TotalPrice`, teniendo en cuenta el overlap entre los datos.

In [77]:
# Mostrar los nombres de las columnas de cada DataFrame
print("Columnas de df_retail_no_duplicates:")
print(df_retail_no_duplicates.columns)

print("\nColumnas de df_retail_cleaned_countries:")
print(df_retail_cleaned_countries.columns)

Columnas de df_retail_no_duplicates:
Index(['CustomerID', 'TotalPrice'], dtype='object')

Columnas de df_retail_cleaned_countries:
Index(['CustomerID', 'TotalPrice'], dtype='object')

In [79]:
import pandas as pd

# Supongamos que df_retail_no_duplicates y df_retail_cleaned_countries son tus DataFrames
# Aquí un ejemplo con datos de entrada para ilustrar la solución

data1 = {
    'CustomerID': [1, 2, 3, 4],
    'TotalPrice': [100, 200, 300, 400]
}
data2 = {
    'CustomerID': [3, 4, 5, 6],
    'TotalPrice': [350, 450, 500, 600]
}

df_retail_no_duplicates = pd.DataFrame(data1)
df_retail_cleaned_countries = pd.DataFrame(data2)

# Combinar los DataFrames teniendo en cuenta el overlap entre los datos
combined_df = pd.merge(df_retail_no_duplicates, df_retail_cleaned_countries, on='CustomerID', how='outer', suffixes=('_df1', '_df2'))

# Resolver el overlap en 'TotalPrice'
combined_df['TotalPrice'] = combined_df[['TotalPrice_df1', 'TotalPrice_df2']].max(axis=1)

# Eliminar las columnas adicionales
combined_df.drop(columns=['TotalPrice_df1', 'TotalPrice_df2'], inplace=True)

# Mostrar el DataFrame combinado
print("DataFrame combinado:")
print(combined_df)

DataFrame combinado:
   CustomerID  TotalPrice
0           1       100.0
1           2       200.0
2           3       350.0
3           4       450.0
4           5       500.0
5           6       600.0

## Pregunta 16
**Join con índices:**
- Realice un join de dos DataFrames basándose en los índices.

## Pregunta 17
**Cambio de nivel de índices:**
- Cambie los niveles de los índices en un MultiIndex en el dataset `retail`.

## Pregunta 18
**Reordenamiento de niveles:**
- Reordene los niveles del índice en un DataFrame con MultiIndex.

## Pregunta 19
**Agregación por nivel:**
- Realice una agregación de los datos por nivel en un MultiIndex.

## Pregunta 20
**Creación de MultiIndex:**
- Cree un MultiIndex a partir de las columnas `Country` y `InvoiceYear` en el dataset `retail`.

# Parte 3 Data Aggregation and Group Operations (Capitulo 10)

## Pregunta 21
**Agrupación por cliente:**
- Agrupe los datos del dataset `retail` por `CustomerID` y calcule el total de `TotalPrice` por cliente.

## Pregunta 22
**Agrupación por producto:**
- Agrupe los datos del dataset `retail` por `StockCode` y calcule la cantidad total vendida (`Quantity`).

## Pregunta 23
**Agrupación por mes y año:**
- Agrupe los datos del dataset `retail` por `InvoiceMonth` y `InvoiceYear`, y calcule el total de `TotalPrice`.

## Pregunta 24
**Conteo de transacciones:**
- Cuente el número total de transacciones por `Country` y `InvoiceYear`.

## Pregunta 25
**Función de agregación personalizada:**
- Cree una función de agregación personalizada que calcule el promedio y la desviación estándar de `TotalPrice` por `Country`.

## Pregunta 26
**Agrupación y transformaciones:**
- Agrupe los datos por `CustomerID` y normalice el `TotalPrice` restando la media y dividiendo por la desviación estándar dentro de cada grupo.

## Pregunta 27
**Filtrado de grupos:**
- Filtre los grupos de `CustomerID` que tengan un `TotalPrice` promedio mayor a 500.

## Pregunta 28
**Aplicación de múltiples funciones:**
- Aplique múltiples funciones de agregación (suma, promedio, máximo) a la columna `TotalPrice` agrupando por `Country`.

## Pregunta 29
**Creación de columnas derivadas:**
- Cree una nueva columna `AvgTotalPrice` que contenga el promedio de `TotalPrice` por `CustomerID`.

## Pregunta 30
**Uso de transformaciones window:**
- Utilice una transformación de ventana para calcular la media móvil de 3 períodos de `TotalPrice` para cada `CustomerID`.

# Parte 4 - Time Series (capítulo 11)

## Pregunta 31
**Conversión a índice de tiempo:**
- Convierta la columna `InvoiceDate` a un índice de tiempo en el dataset `retail`.

## Pregunta 32
**Remuestreo de datos:**
- Remuestrear los datos del dataset `retail` a una frecuencia mensual y calcule el total de `TotalPrice` por mes.

## Pregunta 33
**Cambio de frecuencia:**
- Cambie la frecuencia de los datos del dataset `retail` a trimestral y calcule el total de `TotalPrice` por trimestre.

## Pregunta 34
**Desplazamiento de datos:**
- Desplace los datos de `TotalPrice` en el dataset `retail` un período hacia adelante.

## Pregunta 35
**Ventanas móviles:**
- Calcule la media móvil de 3 períodos de `TotalPrice` en el dataset `retail`.

## Pregunta 36
**Detección de tendencias:**
- Detecte tendencias en la columna `TotalPrice` del dataset `retail` usando una ventana móvil de 12 períodos.

## Pregunta 37
**Descomposición de series temporales:**
- Descomponga la serie temporal de `TotalPrice` en componentes de tendencia, estacionalidad y ruido.

## Pregunta 38
**Interpolación de datos faltantes:**
- Interpole los valores faltantes en la columna `TotalPrice` utilizando la interpolación lineal.

## Pregunta 39
**Análisis de autocorrelación:**
- Realice un análisis de autocorrelación en la columna `TotalPrice` del dataset `retail`.

## Pregunta 40
**Conversión de zona horaria:**
- Convierta las fechas en la columna `InvoiceDate` a una zona horaria específica (por ejemplo, UTC) en el dataset `retail`.

# Parte 5 Preguntas de Negocio

## Pregunta 1
**Análisis de Retorno de Productos:**
- ¿Cuál es el porcentaje de productos devueltos por país (United Kingdom, Germany, Denmark)? ¿Hay alguna diferencia notable entre los países?

## Pregunta 2
**Impacto de Promociones:**
- ¿Qué porcentaje de las ventas totales se realizaron utilizando códigos de promoción en cada uno de los tres países? ¿Cuál es el código de promoción más efectivo?

## Pregunta 3
**Canales de Venta:**
- ¿Cuál es la distribución de ventas entre los diferentes canales de venta (`SaleChannel`) en cada país? ¿Hay un canal que sea predominantemente más utilizado en alguno de los países?

## Pregunta 4
**Costos de Envío:**
- ¿Cuál es el costo promedio de envío por país? ¿Existen diferencias significativas en los costos de envío entre los tres países?

## Pregunta 5
**Peso del Producto y Costos de Envío:**
- ¿Existe una correlación entre el peso del producto (`ProductWeight`) y el costo de envío (`ShippingCost`)? ¿Cómo varía esta relación entre los diferentes países?

## Pregunta 6
**Descuentos y Comportamiento de Compra:**
- ¿Qué porcentaje de las compras en cada país se realizaron con algún tipo de descuento (`Discount`)? ¿Los clientes en algún país en particular son más propensos a utilizar descuentos?

## Pregunta 7
**Análisis de Categorías de Productos:**
- ¿Cuáles son las categorías de productos (`Category`) más vendidas en cada país? ¿Existen diferencias en las preferencias de categorías de productos entre los países?

## Pregunta 8
**Rendimiento de Proveedores:**
- ¿Cuál es el proveedor (`Supplier`) con el mayor volumen de ventas en cada país? ¿Cómo se distribuyen las ventas entre los diferentes proveedores en cada uno de los países?

## Pregunta 9
**Promedio de Precios de Venta:**
- ¿Cuál es el precio promedio de venta (`UnitPrice`) de los productos en cada país? ¿Existen diferencias significativas en los precios de venta entre los tres países?

## Pregunta 10
**Tendencias de Venta por Región:**
- ¿Cómo se distribuyen las ventas (`TotalPrice`) por región de ventas (`SalesRegion`) dentro de cada país? ¿Hay alguna región que destaque en términos de volumen de ventas en alguno de los países?

## Pregunta 11
**Análisis de Frecuencia de Compras:**
- ¿Cuál es la frecuencia promedio de compras por cliente (`CustomerID`) en cada país? ¿Los clientes en algún país compran con mayor frecuencia?

## Pregunta 12
**Valor de Vida del Cliente:**
- ¿Cuál es el valor promedio de vida del cliente (suma de `TotalPrice`) en cada país? ¿Existe una diferencia significativa en el valor de vida del cliente entre los tres países?

## Pregunta 13
**Métodos de Pago:**
- ¿Cuál es el método de pago (`PaymentMethod`) más utilizado en cada país? ¿Hay una preferencia notable por ciertos métodos de pago en algún país específico?

## Pregunta 14
**Evaluación de la Eficiencia de Descuentos:**
- ¿Qué impacto tienen los descuentos (`Discount`) en el valor total de las ventas en cada país? ¿Los descuentos resultan en un aumento significativo en el volumen de ventas?

## Pregunta 15
**Análisis de Clientes por Región:**
- ¿Cuál es la distribución de clientes (`CustomerID`) por región de ventas (`SalesRegion`) en cada país? ¿Hay regiones con una concentración notablemente mayor de clientes?

## Pregunta 16
**Promociones y Segmentos de Mercado:**
- ¿Cuál es el código de promoción (`PromotionCode`) más utilizado en cada segmento de mercado (`SalesRegion`) dentro de cada país?

## Pregunta 17
**Análisis de Temporadas de Venta:**
- ¿Existen patrones estacionales en las ventas (`InvoiceDate`) en cada país? ¿Hay picos de ventas en ciertos meses o temporadas en alguno de los países?

## Pregunta 18
**Preferencias de Productos:**
- ¿Cuáles son los productos (`StockCode` y `Description`) más vendidos en cada país? ¿Hay diferencias notables en las preferencias de productos entre los países?

## Pregunta 19
**Impacto de las Devoluciones en las Ventas:**
- ¿Qué porcentaje de las ventas totales son afectadas por devoluciones (`ReturnStatus`)? ¿Cómo varía este porcentaje entre los diferentes países?

## Pregunta 20
**Análisis de Margen de Ganancia:**
- ¿Cuál es el margen de ganancia promedio (`UnitPrice - Discount`) por producto en cada país? ¿Hay productos o categorías con márgenes significativamente mayores o menores en alguno de los países?