# Limpieza y preparación de datos

### Ejercicio 5. Expresiones regulares.

#### Dado el siguiente Diccionario:

In [163]:
'''
data = {
    'Name': [
        'Dave', 'Steve', 'Rob', 'Ryan', 'Alice', 'Eve', 'John', 'Jane', 'Peter', 'Mary', 'Tom', 'Lucy', 
        'Mike', 'Chris', 'Emma', 'Olivia', 'Sophia', 'Liam', 'Noah', 'Mason', 'Ava', 'Mia', 'James', 'Benjamin'
    ],
    'Email': [
        'dave@google.com', 'steve@gmail.com', 'rob@yahoo.com', 'ryan@gmail.com', 
        'alice@hotmail.com', 'eve@google.com', 'john@outlook.com', 'jane@gmail.com',
        'peter@amazon.com', 'mary@google.com', 'tom@apple.com', 'lucy@yahoo.com',
        'mike@facebook.com', 'chris@netflix.com', 'emma@google.com', 'olivia@gmail.com',
        'sophia@amazon.com', 'liam@apple.com', 'noah@google.com', 'mason@yahoo.com',
        'ava@outlook.com', 'mia@gmail.com', 'james@hotmail.com', 'benjamin@google.com'
    ]
}
'''

"\ndata = {\n    'Name': [\n        'Dave', 'Steve', 'Rob', 'Ryan', 'Alice', 'Eve', 'John', 'Jane', 'Peter', 'Mary', 'Tom', 'Lucy', \n        'Mike', 'Chris', 'Emma', 'Olivia', 'Sophia', 'Liam', 'Noah', 'Mason', 'Ava', 'Mia', 'James', 'Benjamin'\n    ],\n    'Email': [\n        'dave@google.com', 'steve@gmail.com', 'rob@yahoo.com', 'ryan@gmail.com', \n        'alice@hotmail.com', 'eve@google.com', 'john@outlook.com', 'jane@gmail.com',\n        'peter@amazon.com', 'mary@google.com', 'tom@apple.com', 'lucy@yahoo.com',\n        'mike@facebook.com', 'chris@netflix.com', 'emma@google.com', 'olivia@gmail.com',\n        'sophia@amazon.com', 'liam@apple.com', 'noah@google.com', 'mason@yahoo.com',\n        'ava@outlook.com', 'mia@gmail.com', 'james@hotmail.com', 'benjamin@google.com'\n    ]\n}\n"

In [6]:
import pandas as pd

# Diccionario proporcionado
data = {
    'Name': [
        'Dave', 'Steve', 'Rob', 'Ryan', 'Alice', 'Eve', 'John', 'Jane', 'Peter', 'Mary', 'Tom', 'Lucy',
        'Mike', 'Chris', 'Emma', 'Olivia', 'Sophia', 'Liam', 'Noah', 'Mason', 'Ava', 'Mia', 'James', 'Benjamin'
    ],
    'Email': [
        'dave@google.com', 'steve@gmail.com', 'rob@yahoo.com', 'ryan@gmail.com',
        'alice@hotmail.com', 'eve@google.com', 'john@outlook.com', 'jane@gmail.com',
        'peter@amazon.com', 'mary@google.com', 'tom@apple.com', 'lucy@yahoo.com',
        'mike@facebook.com', 'chris@netflix.com', 'emma@google.com', 'olivia@gmail.com',
        'sophia@amazon.com', 'liam@apple.com', 'noah@google.com', 'mason@yahoo.com',
        'ava@outlook.com', 'mia@gmail.com', 'james@hotmail.com', 'benjamin@google.com'
    ]
}

# Convertir a DataFrame
df = pd.DataFrame(data)

### Una vez pasado el diccionario a un DataFrame que contiene nombres y direcciones de correo electrónico, realiza las siguientes tareas:

- Extrae los dominios de los correos electrónicos.
- Cuenta la frecuencia de cada dominio.
- Crea un nuevo DataFrame que contenga cada dominio como columna y el número de veces que se repiten dichos dominios en las filas.
#### Resolver de las dos formas: Usando expresiones regulares y usando los métodos propios de pandas.

## Solución con expresiones regulares

## Solución con los métodos propios de Pandas

In [9]:
import pandas as pd
import re

# Diccionario proporcionado
data = {
    'Name': [
        'Dave', 'Steve', 'Rob', 'Ryan', 'Alice', 'Eve', 'John', 'Jane', 'Peter', 'Mary', 'Tom', 'Lucy',
        'Mike', 'Chris', 'Emma', 'Olivia', 'Sophia', 'Liam', 'Noah', 'Mason', 'Ava', 'Mia', 'James', 'Benjamin'
    ],
    'Email': [
        'dave@google.com', 'steve@gmail.com', 'rob@yahoo.com', 'ryan@gmail.com',
        'alice@hotmail.com', 'eve@google.com', 'john@outlook.com', 'jane@gmail.com',
        'peter@amazon.com', 'mary@google.com', 'tom@apple.com', 'lucy@yahoo.com',
        'mike@facebook.com', 'chris@netflix.com', 'emma@google.com', 'olivia@gmail.com',
        'sophia@amazon.com', 'liam@apple.com', 'noah@google.com', 'mason@yahoo.com',
        'ava@outlook.com', 'mia@gmail.com', 'james@hotmail.com', 'benjamin@google.com'
    ]
}

# Convertir a DataFrame
df = pd.DataFrame(data)

# Extraer dominios usando expresiones regulares
df['Domain_Regex'] = df['Email'].apply(lambda x: re.search(r'@([\w\.]+)', x).group(1))

# Extraer dominios usando métodos de pandas
df['Domain_Pandas'] = df['Email'].str.split('@').str[1]

# Contar la frecuencia de cada dominio
domain_counts = df['Domain_Pandas'].value_counts()

# Crear un DataFrame con los dominios como columnas
domain_df = pd.DataFrame([domain_counts]).T.reset_index()
domain_df.columns = ['Domain', 'Count']

# Mostrar los resultados
print("DataFrame Original con dominios extraídos:")
print(df)

print("\nConteo de frecuencia de dominios:")
print(domain_counts)

print("\nNuevo DataFrame con dominios y sus frecuencias:")
print(domain_df)

DataFrame Original con dominios extraídos:
        Name                Email  Domain_Regex Domain_Pandas
0       Dave      dave@google.com    google.com    google.com
1      Steve      steve@gmail.com     gmail.com     gmail.com
2        Rob        rob@yahoo.com     yahoo.com     yahoo.com
3       Ryan       ryan@gmail.com     gmail.com     gmail.com
4      Alice    alice@hotmail.com   hotmail.com   hotmail.com
5        Eve       eve@google.com    google.com    google.com
6       John     john@outlook.com   outlook.com   outlook.com
7       Jane       jane@gmail.com     gmail.com     gmail.com
8      Peter     peter@amazon.com    amazon.com    amazon.com
9       Mary      mary@google.com    google.com    google.com
10       Tom        tom@apple.com     apple.com     apple.com
11      Lucy       lucy@yahoo.com     yahoo.com     yahoo.com
12      Mike    mike@facebook.com  facebook.com  facebook.com
13     Chris    chris@netflix.com   netflix.com   netflix.com
14      Emma      emma@google.com    google.com    google.com
15    Olivia     olivia@gmail.com     gmail.com     gmail.com
16    Sophia    sophia@amazon.com    amazon.com    amazon.com
17      Liam       liam@apple.com     apple.com     apple.com
18      Noah      noah@google.com    google.com    google.com
19     Mason      mason@yahoo.com     yahoo.com     yahoo.com
20       Ava      ava@outlook.com   outlook.com   outlook.com
21       Mia        mia@gmail.com     gmail.com     gmail.com
22     James    james@hotmail.com   hotmail.com   hotmail.com
23  Benjamin  benjamin@google.com    google.com    google.com

Conteo de frecuencia de dominios:
google.com      6
gmail.com       5
yahoo.com       3
hotmail.com     2
outlook.com     2
amazon.com      2
apple.com       2
facebook.com    1
netflix.com     1
Name: Domain_Pandas, dtype: int64

Nuevo DataFrame con dominios y sus frecuencias:
         Domain  Count
0    google.com      6
1     gmail.com      5
2     yahoo.com      3
3   hotmail.com      2
4   outlook.com      2
5    amazon.com      2
6     apple.com      2
7  facebook.com      1
8   netflix.com      1

### Ejercicio 6. Dados los siguientes datos:

In [13]:
'''
encoded_labels = [
    0, 1, 2, 3, 0, 4, 5, 6, 2, 1, 3, 0, 5, 4, 6, 1, 2, 5, 4, 3,
    7, 8, 9, 10, 7, 11, 12, 13, 9, 8, 10, 7, 12, 11, 13, 8, 9, 12, 11, 10,
    14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33
]

animal_labels = [
    'cat', 'dog', 'bird', 'fish', 'lion', 'tiger', 'bear', 'elephant', 
    'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey',
    'shark', 'whale', 'dolphin', 'penguin', 'ostrich', 'crocodile', 
    'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard', 
    'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat', 'owl', 
    'hawk', 'eagle'
]

'''

"\nencoded_labels = [\n    0, 1, 2, 3, 0, 4, 5, 6, 2, 1, 3, 0, 5, 4, 6, 1, 2, 5, 4, 3,\n    7, 8, 9, 10, 7, 11, 12, 13, 9, 8, 10, 7, 12, 11, 13, 8, 9, 12, 11, 10,\n    14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33\n]\n\nanimal_labels = [\n    'cat', 'dog', 'bird', 'fish', 'lion', 'tiger', 'bear', 'elephant', \n    'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey',\n    'shark', 'whale', 'dolphin', 'penguin', 'ostrich', 'crocodile', \n    'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard', \n    'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat', 'owl', \n    'hawk', 'eagle'\n]\n\n"

1- Recrear las etiquetas originales a partir de los índices codificados.  
2- Contar la frecuencia de cada etiqueta de animal.  
3- Identificar las etiquetas de animales únicas presentes en los datos.  
4- Determinar el animal más frecuente y el menos frecuente.  
5- Agrupar los animales y contar la frecuencia por grupos (mamíferos, aves, reptiles, etc.).  
6- Identificar la posición de las primeras y últimas ocurrencias de cada animal.  
7- Generar un resumen estadístico de las frecuencias de los animales (media, mediana, desviación estándar).  
8- Filtrar y mostrar solo los animales con una frecuencia mayor que 2.  
9- Encontrar y mostrar las etiquetas de animales que aparecen solo una vez.  
10- Calcular el porcentaje de apariciones de cada animal respecto al total.  
11- Ordenar las etiquetas de animales por frecuencia en orden descendente.  
12- Generar un DataFrame que muestre la frecuencia acumulativa de las etiquetas.

In [33]:
import pandas as pd
from collections import Counter

# Definir los datos proporcionados
encoded_labels = [
    0, 1, 2, 3, 0, 4, 5, 6, 2, 1, 3, 0, 5, 4, 3,
    7, 8, 9, 10, 7, 12, 11, 13, 8, 9, 12, 11, 10,
    14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33
]

animal_labels = [
    'cat', 'dog', 'bird', 'fish', 'lion', 'tiger', 'bear', 'elephant',
    'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey',
    'shark', 'whale', 'dolphin', 'penguin', 'ostrich', 'crocodile',
    'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard',
    'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat', 'owl',
    'hawk', 'eagle'
]

# Mapeo de índices a etiquetas
original_labels = [animal_labels[i] for i in encoded_labels]

# Tarea 1: Contar la frecuencia de cada etiqueta de animal
label_counts = Counter(original_labels)
df_counts = pd.DataFrame(label_counts.items(), columns=['Animal', 'Count'])

# Tarea 2: Identificar las etiquetas de animales únicas presentes en los datos
unique_animals = list(label_counts.keys())
print("Etiquetas de animales únicas:", unique_animals)

# Tarea 3: Determinar el animal más frecuente y el menos frecuente
most_frequent_animal = df_counts.loc[df_counts['Count'].idxmax()]
least_frequent_animal = df_counts.loc[df_counts['Count'].idxmin()]
print("Animal más frecuente:", most_frequent_animal)
print("Animal menos frecuente:", least_frequent_animal)

# Tarea 4: Agrupar los animales y contar la frecuencia por grupos
animal_groups = {
    'mammals': ['cat', 'dog', 'lion', 'tiger', 'bear', 'elephant', 'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey', 'whale', 'dolphin', 'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard', 'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat'],
    'birds': ['bird', 'penguin', 'ostrich', 'owl', 'hawk', 'eagle'],
    'reptiles': ['shark', 'crocodile']
}

# Agrupar y contar la frecuencia
group_counts = {group: sum(label_counts[animal] for animal in animals) for group, animals in animal_groups.items()}
print("Frecuencia por grupo:", group_counts)

# Tarea 5: Identificar la posición de las primeras y últimas ocurrencias de cada animal
first_occurrences = {animal: original_labels.index(animal) for animal in unique_animals}
last_occurrences = {animal: len(original_labels) - 1 - original_labels[::-1].index(animal) for animal in unique_animals}
print("Primeras ocurrencias:", first_occurrences)
print("Últimas ocurrencias:", last_occurrences)

# Tarea 6: Generar un resumen estadístico de las frecuencias de los animales
statistics_summary = df_counts['Count'].describe()
print("Resumen estadístico:", statistics_summary)

# Tarea 7: Filtrar y mostrar solo los animales con una frecuencia mayor que 2
filtered_animals = df_counts[df_counts['Count'] > 2]
print("Animales con frecuencia mayor a 2:", filtered_animals)

# Tarea 8: Encontrar y mostrar las etiquetas de animales que aparecen solo una vez
single_occurrence_animals = df_counts[df_counts['Count'] == 1]
print("Animales que aparecen solo una vez:", single_occurrence_animals)

# Tarea 9: Calcular el porcentaje de apariciones de cada animal respecto al total
total_count = sum(label_counts.values())
df_counts['Percentage'] = df_counts['Count'] / total_count * 100
print("Porcentaje de apariciones de cada animal:", df_counts)

# Tarea 10: Ordenar las etiquetas de animales por frecuencia en orden descendente
sorted_animals = df_counts.sort_values(by='Count', ascending=False)
print("Animales ordenados por frecuencia:", sorted_animals)

# Tarea 11: Generar un DataFrame que muestre la frecuencia acumulativa de las etiquetas
df_counts['Cumulative'] = df_counts['Count'].cumsum()
print("Frecuencia acumulativa de las etiquetas:", df_counts)

Etiquetas de animales únicas: ['cat', 'dog', 'bird', 'fish', 'lion', 'tiger', 'bear', 'elephant', 'giraffe', 'zebra', 'kangaroo', 'panda', 'koala', 'monkey', 'shark', 'whale', 'dolphin', 'penguin', 'ostrich', 'crocodile', 'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard', 'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat', 'owl', 'hawk', 'eagle']
Animal más frecuente: Animal    cat
Count       3
Name: 0, dtype: object
Animal menos frecuente: Animal    bear
Count        1
Name: 6, dtype: object
Frecuencia por grupo: {'mammals': 36, 'birds': 7, 'reptiles': 2}
Primeras ocurrencias: {'cat': 0, 'dog': 1, 'bird': 2, 'fish': 3, 'lion': 5, 'tiger': 6, 'bear': 7, 'elephant': 15, 'giraffe': 16, 'zebra': 17, 'kangaroo': 18, 'panda': 20, 'koala': 21, 'monkey': 22, 'shark': 28, 'whale': 29, 'dolphin': 30, 'penguin': 31, 'ostrich': 32, 'crocodile': 33, 'alligator': 34, 'hippopotamus': 35, 'rhinoceros': 36, 'cheetah': 37, 'leopard': 38, 'jaguar': 39, 'wolf': 40, 'fox': 41, 'rabbit': 42, 'squirrel': 43, 'bat': 44, 'owl': 45, 'hawk': 46, 'eagle': 47}
Últimas ocurrencias: {'cat': 11, 'dog': 9, 'bird': 8, 'fish': 14, 'lion': 13, 'tiger': 12, 'bear': 7, 'elephant': 19, 'giraffe': 23, 'zebra': 24, 'kangaroo': 27, 'panda': 25, 'koala': 26, 'monkey': 22, 'shark': 28, 'whale': 29, 'dolphin': 30, 'penguin': 31, 'ostrich': 32, 'crocodile': 33, 'alligator': 34, 'hippopotamus': 35, 'rhinoceros': 36, 'cheetah': 37, 'leopard': 38, 'jaguar': 39, 'wolf': 40, 'fox': 41, 'rabbit': 42, 'squirrel': 43, 'bat': 44, 'owl': 45, 'hawk': 46, 'eagle': 47}
Resumen estadístico: count    34.000000
mean      1.411765
std       0.608906
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       3.000000
Name: Count, dtype: float64
Animales con frecuencia mayor a 2:   Animal  Count
0    cat      3
3   fish      3
Animales que aparecen solo una vez:           Animal  Count
6           bear      1
13        monkey      1
14         shark      1
15         whale      1
16       dolphin      1
17       penguin      1
18       ostrich      1
19     crocodile      1
20     alligator      1
21  hippopotamus      1
22    rhinoceros      1
23       cheetah      1
24       leopard      1
25        jaguar      1
26          wolf      1
27           fox      1
28        rabbit      1
29      squirrel      1
30           bat      1
31           owl      1
32          hawk      1
33         eagle      1
Porcentaje de apariciones de cada animal:           Animal  Count  Percentage
0            cat      3    6.250000
1            dog      2    4.166667
2           bird      2    4.166667
3           fish      3    6.250000
4           lion      2    4.166667
5          tiger      2    4.166667
6           bear      1    2.083333
7       elephant      2    4.166667
8        giraffe      2    4.166667
9          zebra      2    4.166667
10      kangaroo      2    4.166667
11         panda      2    4.166667
12         koala      2    4.166667
13        monkey      1    2.083333
14         shark      1    2.083333
15         whale      1    2.083333
16       dolphin      1    2.083333
17       penguin      1    2.083333
18       ostrich      1    2.083333
19     crocodile      1    2.083333
20     alligator      1    2.083333
21  hippopotamus      1    2.083333
22    rhinoceros      1    2.083333
23       cheetah      1    2.083333
24       leopard      1    2.083333
25        jaguar      1    2.083333
26          wolf      1    2.083333
27           fox      1    2.083333
28        rabbit      1    2.083333
29      squirrel      1    2.083333
30           bat      1    2.083333
31           owl      1    2.083333
32          hawk      1    2.083333
33         eagle      1    2.083333
Animales ordenados por frecuencia:           Animal  Count  Percentage
0            cat      3    6.250000
3           fish      3    6.250000
8        giraffe      2    4.166667
1            dog      2    4.166667
12         koala      2    4.166667
10      kangaroo      2    4.166667
9          zebra      2    4.166667
11         panda      2    4.166667
7       elephant      2    4.166667
5          tiger      2    4.166667
4           lion      2    4.166667
2           bird      2    4.166667
32          hawk      1    2.083333
23       cheetah      1    2.083333
31           owl      1    2.083333
30           bat      1    2.083333
29      squirrel      1    2.083333
28        rabbit      1    2.083333
27           fox      1    2.083333
26          wolf      1    2.083333
25        jaguar      1    2.083333
24       leopard      1    2.083333
17       penguin      1    2.083333
22    rhinoceros      1    2.083333
21  hippopotamus      1    2.083333
20     alligator      1    2.083333
19     crocodile      1    2.083333
18       ostrich      1    2.083333
16       dolphin      1    2.083333
15         whale      1    2.083333
14         shark      1    2.083333
13        monkey      1    2.083333
6           bear      1    2.083333
33         eagle      1    2.083333
Frecuencia acumulativa de las etiquetas:           Animal  Count  Percentage  Cumulative
0            cat      3    6.250000           3
1            dog      2    4.166667           5
2           bird      2    4.166667           7
3           fish      3    6.250000          10
4           lion      2    4.166667          12
5          tiger      2    4.166667          14
6           bear      1    2.083333          15
7       elephant      2    4.166667          17
8        giraffe      2    4.166667          19
9          zebra      2    4.166667          21
10      kangaroo      2    4.166667          23
11         panda      2    4.166667          25
12         koala      2    4.166667          27
13        monkey      1    2.083333          28
14         shark      1    2.083333          29
15         whale      1    2.083333          30
16       dolphin      1    2.083333          31
17       penguin      1    2.083333          32
18       ostrich      1    2.083333          33
19     crocodile      1    2.083333          34
20     alligator      1    2.083333          35
21  hippopotamus      1    2.083333          36
22    rhinoceros      1    2.083333          37
23       cheetah      1    2.083333          38
24       leopard      1    2.083333          39
25        jaguar      1    2.083333          40
26          wolf      1    2.083333          41
27           fox      1    2.083333          42
28        rabbit      1    2.083333          43
29      squirrel      1    2.083333          44
30           bat      1    2.083333          45
31           owl      1    2.083333          46
32          hawk      1    2.083333          47
33         eagle      1    2.083333          48

### Ejercicio 7. Análisis de Tipos de Productos en una Tienda

In [207]:
### Partiendo del siguiente diccionario:
data = {
    'product_id': [1, 2, 3, 4, 5, 6],
    'product_name': ['apple', 'banana', 'carrot', 'apple', 'banana', 'carrot'],
    'category': ['fruit', 'fruit', 'vegetable', 'fruit', 'fruit', 'vegetable']
}

1- Llevar el dicionario a un dataframe y mostrarlo.  
2- Consultar los tipos de datos de cada columna.  
3- Convertir la Columna category a Tipo Categórico.    
4- Acceder a las Categorías y Códigos (cat.categories y cat.codes)

In [34]:
import pandas as pd

# Paso 1: Convertir el diccionario a un DataFrame y mostrarlo
data = {
    'product_id': [1, 2, 3, 4, 5, 6],
    'product_name': ['apple', 'banana', 'carrot', 'apple', 'banana', 'carrot'],
    'category': ['fruit', 'fruit', 'vegetable', 'fruit', 'fruit', 'vegetable']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# Paso 2: Consultar los tipos de datos de cada columna
print("\nTipos de datos de cada columna:")
print(df.dtypes)

# Paso 3: Convertir la columna 'category' a tipo categórico
df['category'] = df['category'].astype('category')
print("\nDataFrame con la columna 'category' como categórica:")
print(df)
print("\nTipos de datos después de la conversión:")
print(df.dtypes)

# Paso 4: Acceder a las categorías y códigos
categories = df['category'].cat.categories
codes = df['category'].cat.codes
print("\nCategorías:")
print(categories)
print("\nCódigos:")
print(codes)

DataFrame:
   product_id product_name   category
0           1        apple      fruit
1           2       banana      fruit
2           3       carrot  vegetable
3           4        apple      fruit
4           5       banana      fruit
5           6       carrot  vegetable

Tipos de datos de cada columna:
product_id       int64
product_name    object
category        object
dtype: object

DataFrame con la columna 'category' como categórica:
   product_id product_name   category
0           1        apple      fruit
1           2       banana      fruit
2           3       carrot  vegetable
3           4        apple      fruit
4           5       banana      fruit
5           6       carrot  vegetable

Tipos de datos después de la conversión:
product_id         int64
product_name      object
category        category
dtype: object

Categorías:
Index(['fruit', 'vegetable'], dtype='object')

Códigos:
0    0
1    0
2    1
3    0
4    0
5    1
dtype: int8

### Ejercicio 8. Basado en los siguientes datos:

In [237]:
'''
data = {
    'consumer_id': range(1, 21),
    'product_preference': [
        'Vegano', 'Ecológico', 'Sin Gluten', 'Normal', 'Ecológico',
        'Vegano', 'Normal', 'Sin Gluten', 'Vegano', 'Ecológico',
        'Normal', 'Ecológico', 'Sin Gluten', 'Vegano', 'Normal',
        'Vegano', 'Sin Gluten', 'Normal', 'Normal', 'Vegano'
    ]
}
'''

**Responder las siguientes preguntas.**

1- Crear un dataframe e imprima un head.  
2- Cambiar el dtype de product_preference a categórico.   
3- Medir el uso de memoria antes y después de convertir a categórico.  
4- Añadir dos categorías más: Orgánico y Keto.  
5- Filtrar los datos para incluir solo preferencias 'Vegano' y 'Ecológico'.  
6- Eliminar categorías no utilizadas en los datos filtrados.  
7- Medir el tiempo de ejecución de `value_counts()` en la columna `product_preference`.  
8- Reordenar las categorías en un orden específico.  
9- Obtener estadísticas descriptivas de la columna categórica.  
10- Agrupar los datos por `product_preference` y contar el número de consumidores en cada categoría.  
11- Transformar categorías a números utilizando `cat.codes`.

In [35]:
import pandas as pd
import time

# Definición del diccionario de datos
data = {
    'consumer_id': range(1, 21),
    'product_preference': [
        'Vegano', 'Ecológico', 'Sin Gluten', 'Normal', 'Ecológico',
        'Vegano', 'Normal', 'Sin Gluten', 'Vegano', 'Ecológico',
        'Normal', 'Ecológico', 'Sin Gluten', 'Vegano', 'Normal',
        'Vegano', 'Sin Gluten', 'Normal', 'Normal', 'Vegano'
    ]
}

# Paso 1: Crear un DataFrame y mostrar las primeras filas
df = pd.DataFrame(data)
print("DataFrame head:")
print(df.head())

# Paso 2: Cambiar el tipo de dato de product_preference a categórico
df['product_preference'] = df['product_preference'].astype('category')
print("\nTipos de datos después de convertir a categórico:")
print(df.dtypes)

# Paso 3: Medir el uso de memoria antes y después de convertir a categórico
memory_before = df.memory_usage(deep=True)
# Convertir a categórico ya realizado en el paso 2
memory_after = df.memory_usage(deep=True)
print("\nUso de memoria antes de la conversión a categórico:")
print(memory_before)
print("\nUso de memoria después de la conversión a categórico:")
print(memory_after)

# Paso 4: Añadir dos categorías más: "Orgánico" y "Keto"
df['product_preference'] = df['product_preference'].cat.add_categories(['Orgánico', 'Keto'])
print("\nCategorías después de añadir 'Orgánico' y 'Keto':")
print(df['product_preference'].cat.categories)

# Paso 5: Filtrar los datos para incluir solo "Vegano" y "Ecológico"
filtered_df = df[df['product_preference'].isin(['Vegano', 'Ecológico'])]
print("\nDatos filtrados:")
print(filtered_df)

# Paso 6: Eliminar categorías no utilizadas en los datos filtrados
filtered_df['product_preference'] = filtered_df['product_preference'].cat.remove_unused_categories()
print("\nCategorías después de eliminar las no utilizadas:")
print(filtered_df['product_preference'].cat.categories)

# Paso 7: Medir el tiempo de ejecución de value_counts() en la columna product_preference
start_time = time.time()
value_counts = df['product_preference'].value_counts()
end_time = time.time()
print("\nTiempo de ejecución de value_counts():")
print(end_time - start_time)
print("\nConteo de valores:")
print(value_counts)

# Paso 8: Reordenar las categorías en un orden específico
df['product_preference'] = df['product_preference'].cat.reorder_categories(['Normal', 'Sin Gluten', 'Vegano', 'Ecológico', 'Orgánico', 'Keto'], ordered=True)
print("\nCategorías reordenadas:")
print(df['product_preference'].cat.categories)

# Paso 9: Obtener estadísticas descriptivas de la columna categórica
print("\nEstadísticas descriptivas de la columna categórica:")
print(df['product_preference'].describe())

# Paso 10: Agrupar los datos por product_preference y contar el número de consumidores en cada categoría
grouped_counts = df.groupby('product_preference').size()
print("\nConteo de consumidores por categoría:")
print(grouped_counts)

# Paso 11: Transformar categorías a números utilizando cat.codes
df['preference_codes'] = df['product_preference'].cat.codes
print("\nCategorías transformadas a códigos numéricos:")
print(df)

DataFrame head:
   consumer_id product_preference
0            1             Vegano
1            2          Ecológico
2            3         Sin Gluten
3            4             Normal
4            5          Ecológico

Tipos de datos después de convertir a categórico:
consumer_id              int64
product_preference    category
dtype: object

Uso de memoria antes de la conversión a categórico:
Index                 128
consumer_id           160
product_preference    486
dtype: int64

Uso de memoria después de la conversión a categórico:
Index                 128
consumer_id           160
product_preference    486
dtype: int64

Categorías después de añadir 'Orgánico' y 'Keto':
Index(['Ecológico', 'Normal', 'Sin Gluten', 'Vegano', 'Orgánico', 'Keto'], dtype='object')

Datos filtrados:
    consumer_id product_preference
0             1             Vegano
1             2          Ecológico
4             5          Ecológico
5             6             Vegano
8             9             Vegano
9            10          Ecológico
11           12          Ecológico
13           14             Vegano
15           16             Vegano
19           20             Vegano

Categorías después de eliminar las no utilizadas:
Index(['Ecológico', 'Vegano'], dtype='object')

Tiempo de ejecución de value_counts():
0.0010006427764892578

Conteo de valores:
Normal        6
Vegano        6
Ecológico     4
Sin Gluten    4
Orgánico      0
Keto          0
Name: product_preference, dtype: int64

Categorías reordenadas:
Index(['Normal', 'Sin Gluten', 'Vegano', 'Ecológico', 'Orgánico', 'Keto'], dtype='object')

Estadísticas descriptivas de la columna categórica:
count         20
unique         4
top       Normal
freq           6
Name: product_preference, dtype: object

Conteo de consumidores por categoría:
product_preference
Normal        6
Sin Gluten    4
Vegano        6
Ecológico     4
Orgánico      0
Keto          0
dtype: int64

Categorías transformadas a códigos numéricos:
    consumer_id product_preference  preference_codes
0             1             Vegano                 2
1             2          Ecológico                 3
2             3         Sin Gluten                 1
3             4             Normal                 0
4             5          Ecológico                 3
5             6             Vegano                 2
6             7             Normal                 0
7             8         Sin Gluten                 1
8             9             Vegano                 2
9            10          Ecológico                 3
10           11             Normal                 0
11           12          Ecológico                 3
12           13         Sin Gluten                 1
13           14             Vegano                 2
14           15             Normal                 0
15           16             Vegano                 2
16           17         Sin Gluten                 1
17           18             Normal                 0
18           19             Normal                 0
19           20             Vegano                 2

C:\Users\CursosTardes\AppData\Local\Temp\ipykernel_21012\1940190313.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['product_preference'] = filtered_df['product_preference'].cat.remove_unused_categories()